# TOPIC: String Based Assignment Problem

## 1) Write a program to reverse a string.

## Ans 1) 

### Steps:
- Reverse the string using slicing.
- Remain the start,end index as empty i.e [::]
- Set step/jump to -1. That will start from last element.[::-1]

In [2]:
# lets create a string
mystring = "Noorain"

# slicing it 
reversed_str = mystring[::-1]

# Display the string before and after reversing it
print(f"Given String   :{mystring}\nReversed String: {reversed_str} ")

Given String   :Noorain
Reversed String: niarooN

## 2) Check if a string is a palindrome.

## Ans 2) 

1) Palindrome String : A string is said to be palindrome if first half of the string is same as the reversed of second half of the string.

### Steps:
- Take the string from the user
- First check the length of the string.
- 1) If the length is odd then string is not a palindrome.
- 2) If legth is even then executes below steps.
- Divide the string into two parts i.e str1 and str2
- Reverse the second half of the string i.e str2.
- Now compare both of the half of the string.
- If both are same,given string is palindrome else not.

In [6]:
# 1) Take the string from the user
input_str = input("Enter the string to check, is it palindrome or not?")

Enter the string to check, is it palindrome or not? banana

In [7]:
# 2) First check the length of the string.
str_len = len(input_str)

In [8]:
# 3) If the length is odd then string is not a palindrome.
# 2) If legth is even then executes below steps.
# Divide the string into two parts i.e str1 and str2
# Reverse the second half of the string i.e str2.
# Now compare both of the half of the string.
# If both are same,given string is palindrome else not.

if str_len%2 != 0:
    print(f"Given string is not a Palindrome.")
else:
    # divide the string into two parts
    str1 = input_str[:str_len//2]
    str2 = input_str[str_len//2:]
    
    # reverse the str2 
    str2 = str2[::-1]
    
    # comapre both the string
    if str1 == str2:
        print(f"Given string is a Palindrome.")
    else:
        print(f"Given string is not a Palindrome.")

Given string is not a Palindrome.

## 3) Convert a string to uppercase.

## Ans 3) 

### Steps:
- Create a string and store into a variable.
- Use the string's uppercase function to conert it into uppercase.
- Display both the string given and uppercase converted string.

In [10]:
# Create a string and store into a variable.
s = "banana"
# Use the string's uppercase function to conert it into uppercase.
uppercase_str = s.upper()
# Display both the string given and uppercase converted
print(f"Given string : {s}\nUppercase string: {uppercase_str} ")

Given string : banana
Uppercase string: BANANA

## 4) Convert a string to lowercase.

## Ans 4) 

### Steps:
- Create a string and store into a variable.
- Use the string's lowercase function to convert it into lowercase.
- Display both the string given and lowercase converted string.

In [11]:
# Create a string and store into a variable.
s1 = "APPLE"
# Use the string's uppercase function to conert it into uppercase.
lower_str = s1.lower()
# Display both the string given and uppercase converted
print(f"Given string : {s1}\nUppercase string: {lower_str} ")

Given string : APPLE
Uppercase string: apple

## 5) Count the number of vowels in a string.

## Ans 5)

1) Task   : Count the number of vowels in the string.
2) Input  : String
3) Output : Number of vowels present in given string.

#### Steps :
- Take the input i.e string from the user and store it into a variable.
- Initialise a varaible vowel_count (that will count the number of vowels in the string) by 0. 
- Traverse through the string and check if the character is a vowel or not.
- If character is a vowel then increase the count of vowel by 1.
- Finally return the number of vowels i.e vowel_count.

In [12]:
## Step 1) Take the input string from the user
input_str = input("Enter any string : ")

Enter any string :  noorain

In [13]:
## Step 2) Initialise a variable vowel_count by zero
vowel_count = 0

In [14]:
## Step 3) Traverse through the string and check if the character is a vowel or not.
###        If character is a vowel then increase the count of vowel by 1.  

for character in input_str:
    if character in ['a','e','i','o','u']:     # search character in list of vowels
        vowel_count += 1

In [15]:
## Step 4) Display the vowel count
print(f"The number of vowels in the string : {vowel_count} ")

The number of vowels in the string : 4

## 6) Count the number of consonants in a string.

## Ans 6)

1) Task   : Count the number of Cosonants in a string.
2) Input  : String
3) Output : Number of Consonants present in given string.
4) Formula : Number of Consonants in a string = (number of total characters - number of vowels) => (len of string - number of vowels)

#### Steps :
- Take the input i.e string from the user and store it into a variable.
- Initialise a varaible vowel_count (that will count the number of vowels in the string) by 0. 
- Traverse through the string and check if the character is a vowel or not.
- If character is a vowel then increase the count of vowel by 1.
- Finally use the formula to calculate the number of Consonants.
- Display it.

In [16]:
## Step 1) Take the input string from the user
input_str1 = input("Enter any string : ")

Enter any string :  university

In [18]:
## Step 2) Initialise a variable vowel_count by zero
vowel_count = 0

## Step 3) Traverse through the string and check if the character is a vowel or not.
###        If character is a vowel then increase the count of vowel by 1.  

for character in input_str1:
    if character in ['a','e','i','o','u']:     # search character in list of vowels
        vowel_count += 1
        
num_consonents = len(input_str1) - vowel_count

In [19]:
## Step 4) Display the consonents count
print(f"The number of consonents in given string : {num_consonents} ")

The number of consonents in given string : 6

## 7) Remove all whitespaces from a string.

## Ans 7)

#### Steps :
- Create a string and store it into a variable.
- Using string's replace funcrtion, replace all spaces with nothing. i.e ; replace(" ","")

In [20]:
## create string
s2 = "my name is noorain raza"
## replace spaces with nothing
updated_str = s2.replace(" ","")
## diplay both the string
print(f"Given string : {s2}\nUpdated string : {updated_str} ")

Given string : my name is noorain raza
Updated string : mynameisnoorainraza

## 8)  Find the length of a string without using the `len()` function

## Ans 8)

#### Steps :
- Take a string
- Initialise a counter with 0, that will count the number of characters in string.
- Traverse through the string.
- Increase the counter by 1
- Display the length i.e counter value.

In [21]:
## create a string
s4 = 'Data Science'

## initialise counter
char_count = 0

## traverse though the string
for char in s4:
    char_count+=1
    
## print length of string
print(f"The length of string is: {char_count} ")

The length of string is: 12

## 9) Check if a string contains a specific word.

## Ans 9)

#### Steps :
- Take a string
- Search/find the specific word in string using string's find function.
- If function return any value greater than 0 that means string contains a specific word.
- If function returns -1 that means string does not contain a specific word.

In [30]:
# Take a string
s5 = 'My name is noorain raza. I am from uttar pradesh bareilly.'
# Search/find the specific word in string using string's find function.
if s5.find('bareilly')>0:
    print("String contains a specific word.")
else:
    print("String does not contain a specific word.")
    
# If function return any value greater than 0 that means string contains a specific word.
# If function returns -1 that means string does not contain a specific word.

String contains a specific word.

## 10) Replace a word in a string with another word.

## Ans 10)

#### Steps :
- create a string of words.
- Using string's replace function replace a word with another word.

In [32]:
# create a string of words.
s6 = 'kal sunday hai, kal meri live class hogi'
# Using string's replace function replace a word with another word.
up_s = s6.replace("kal","aaj")

# display both the string
print(f"Given string : {s6}\nUpdted String : {up_s}  ")

Given string : kal sunday hai, kal meri live class hogi
Updted String : aaj sunday hai, aaj meri live class hogi

## 11) Count the occurrences of a word in a string.

## Ans 11)

#### Steps :
- create a string of words.
- Using string's count function count the occurences of a word.

In [33]:
# create a string of words.
s7 = "kal sunday hai , kal meri live class hogi"
# Using string's count function count the occurences of a word.
word_count = s7.count("kal")
# print word counts
print(f"The occurences of word is : {word_count} ")

The occurences of word is : 2

## 12) Find the first occurrence of a word in a string.

## Ans 12)

#### Steps :
- create a string of words.
- Using string's find function, find the first occurences of a word.
- Display the index of first occrrence if word present in a string else print word doesn't exists in string.

In [36]:
# create a string of words.
s8 = "kal meri live class hai, attend karoge kya?"
# Using string's find function, find the first occurences of a word.
# Display the index of first occrrence if word present in a string else return
if s8.find('is') != -1:
    print(f"The first occurrence of Word is present at the index: {s8.find('live')} ")
else:
    print(f"Word doesn't exist in string.")

Word doesn't exist in string.

## 13) Find the last occurrence of a word in a string.

## Ans 13)

#### Steps :
- create a string of words.
- Using string's rfind function, that takes word/char to be find and returns index if word exists.
- Display the index of last occrrence if word present in a string else print word doesn't exists in string.

In [37]:
# create a string of words.
s9 = "my name is name"
# Using string's rfind function, that takes word/char to be find and returns index if word exists.
# Display the index of last occrrence if word present in a string else print word doesn't exists in string.
if s9.rfind("name") != -1:
    print(f"The last occurrence of Word is present at the index: {s9.rfind('name')} ")
else:
    print(f"Word doesn't exist.")

The last occurrence of Word is present at the index: 11

## 14) Split a string into a list of words.

## Ans 14)

#### Steps :
- create a string of words.
- Use string's split function to convert string of word into list of string words.
- Display the given string and list.

In [39]:
# create a string of words.
s10 = "Hello! This is my python data types assignmnet."
# Use string's split function to convert string of word into list of string words.
word_list = s10.split()
# Display the given string and list.
print(f"Given string: {s10}\nList of words: {word_list} ")

Given string: Hello! This is my python data types assignmnet.
List of words: ['Hello!', 'This', 'is', 'my', 'python', 'data', 'types', 'assignmnet.']

## 15) Join a list of words into a string.

## Ans 15)

#### Steps :
- create a list of words.
- Use join function to convert list of word into string.
- Display the list of words and converted string.

In [40]:
# create a list of words.
s11_list = ['my','name','is','noorain']
# Use join function to convert list of word into string.
converted_str = " ".join(s11_list)
# Display the list of words and converted string.
print(f"List of words: {s11_list}\nConverted String : {converted_str} ")

List of words: ['my', 'name', 'is', 'noorain']
Converted String : my name is noorain

## 16) Convert a string where words are separated by spaces to one where words are separated by underscores.

## Ans 16)

#### Steps :
- create a string of words.
- Use replace function to replace 'space' with 'underscore'.
- Display the final string.

In [41]:
# create a string of words.
s12 = "Believe me, You are unstoppable."
# Use replace function to replace 'space' with 'underscore'.
updated_s12 = s12.replace(" ","_")
# Display the final string.
print(f"Given string : {s12}\nConverted String : {updated_s12} ")

Given string : Believe me, You are unstoppable.
Converted String : Believe_me,_You_are_unstoppable.

## 17) Check if a string starts with a specific word or phrase.

## Ans 17)

#### Steps :
- create a string of words/phrase.
- Use string's stratswith() function to check whether a string starts with specific word or not?
- Display yes or no accordingly.

In [48]:
# create a string of words/phrase.
s13 = "Good Morning everyone!"
# Use find function to check whether a string starts with specific word or not?
# Display yes or no accordingly.
if s13.startswith("Good"):
    print("Yes, string starts with a specific word.")
else:
    print("No, string doesn't start with a specific word.")

Yes, string starts with a specific word.

## 18) Check if a string ends with a specific word or phrase.

## Ans 18)

#### Steps :
- create a string of words/phrase.
- Use string's endswith() function to check whether a string ends with specific word or not?
- Display yes or no accordingly.

In [52]:
# create a string of words/phrase.
s14 = "Good Morning everyone!"
# Use find function to check whether a string starts with specific word or not?
# Display yes or no accordingly.
if s14.endswith("everyone!"):
    print("Yes, string ends with a specific word.")
else:
    print("No, string doesn't end with a specific word.")

Yes, string ends with a specific word.

## 19) Convert a string to title case (e.g., "hello world" to "Hello World").

## Ans 19)

1) Title case : in string title() is a function that converts the first letter of each word of string to uppercase.

#### Steps :
- create a string of words.
- Use string's titlecase() function to convert string into title case.
- Display the string.

In [54]:
# create a string of words.
s15 = "hello world"
# Use string's titlecase() function to convert string into title case.
titlecase_str = s15.title()
# Display the string.
print(f"Given string:{s15}\nTitle Case string: {titlecase_str} ")

Given string:hello world
Title Case string: Hello World

## 20) Find the longest word in a string.

## Ans 20)

1) Longest word: A word containing max characters/max length.

#### Steps :
- Take the string.
- Convert string into list.
- Traverse through each element/word of the list.
- Find the length of each word.
- Return the max length word.

In [2]:
# Take the string.
s16 = "My name is Noorain Raza"
# Convert string into list.
s16_list = s16.split()

# Traverse through each element/word of the list.
# initialise max_len and max_len_word
max_len = 0
max_len_word = ''
for word in s16_list:
    # Find the length of each word.
    if len(word) > max_len:
        max_len = len(word)
        max_len_word = word

# Return the max length word.
print(f"Given string : {s16}\nLongest word in string is : {max_len_word}  ")

Given string : My name is Noorain Raza
Longest word in string is : Noorain

## 21) Find the shortest word in a string.

## Ans 21)

1) Shortest word: A word containing min characters/min length.

#### Steps :
- Take the string.
- Convert string into list.
- Traverse through each element/word of the list.
- Find the length of each word.
- Return the min length word.

In [6]:
# Take the string.
s17 = "My name is Noorain Raza"
# Convert string into list.
s17_list = s17.split()

# Traverse through each element/word of the list.
# initialise min_len(with very high value) and min_len_word
min_len = 999999
min_len_word = ''
for word in s17_list:
    # Find the length of each word.
    if len(word) < min_len:
        min_len = len(word)
        min_len_word = word

# Return the max length word.
print(f"Given string : {s17}\nShortest word in string is : {min_len_word}  ")

Given string : My name is Noorain Raza
Shortest word in string is : My

## 22) Reverse the order of words in a string.

## Ans 22)

#### Steps :
- Take the string.
- Convert string into list.
- Using the reversed function, reverse the order of string and concatenate each return word into reversed str to form a string in reversed order of wrods.
- print the string in reversed order order of words.

In [10]:
# Take the string.
s18 = "honesty is the best policy"

# Convert string into list.
s18_list = s18.split()

# Using the reversed function, reverse the order of string.
reversed_str = ''
for word in reversed(s18_list):
    reversed_str = reversed_str + word +" "
    
# print the string in reversed order
print(f"Given string is : {s18}\nString with reversed order of words : {reversed_str}")

Given string is : honesty is the best policy
String with reversed order of words : policy best the is honesty

## 23) Check if a string is alphanumeric.##

## Ans 23)

1) Alphanumeric string : A string is alpha-numeric if all characters in the string are alpha-numeric. That means :
- s1 = "noorain" ;  all characters are alphabets. It is alphanumeric.
- s2 = "1234456" ;  all characters are numeric. It is alphanumeric.
- s3 = "noor1234" ; some characters are alphabets and some are numeric. It is alphanumeric.
- s4 = "noor@#1234" ; some characters are alphabets, some are numeric and 2 are special characters. It is not alphanumeric.
- NOTE: String contains anything other than alphabets or numeric, will not be alpha-numeric.

#### Steps :
- Take the string.
- Use string's isalnum() function to check whether a string is alphanumeric or not.
- If string is alphanumeric print "string is alphanumeric" else print "string is not alphanumeric".

In [22]:
# Take the string.
s19 = "@#noor"
# Use string's alphanum() function to check whether a string is alphanumeric or not.
# If string is alphanumeric print "string is alphanumeric" else print "string is not alphanumeric".
if s19.isalnum():
    print(f"Given string is alphanumeric.")
else:
    print(f"Given string is not alphanumeric.")

Given string is not alphanumeric.

## 24) Extract all digits from a string.

## Ans 24)

#### Steps :
- Take the string.
- Traverse through string and check each character whether it is digit or not by using string's isdigit() function.
- If character is digits, append the digit into a list.
- Display the list of extracted digits from string.

In [1]:
# Take the string.
s20 = "abcd1ef34gh10"
# Traverse through string and check each character whether it is digit or not by using string's isdigit() function.
# If character is digits, append the digit into a list.

digit_list = []                         # create an empty list to store extracted digits.
for char in s20:
    if char.isdigit():                  # if it is true then append it.
        digit_list.append(int(char))
        
# Display the list of extracted digits from string.
print(f"Given string is :{s20}\nList of extracted digits from string : {digit_list} ")

Given string is :abcd1ef34gh10
List of extracted digits from list : [1, 3, 4, 1, 0]

## 25) Extract all alphabets from a string.

## Ans 25)

#### Steps :
- Take the string.
- Traverse through string and check each character whether it is alphabet or not by using string's isalpha() function.
- If character is alphabet, append the aphabet into an empty string.
- Display the final string of extracted alphabets from string.

In [2]:
# Take the string.
s21 = "abcd1ef34gh10"
# Traverse through string and check each character whether it is alphabet or not by using string's isalpha() function.
# If character is alphabet, append the aphabet into an empty string.

alpha_list = ""                         # create an empty string to store extracted alphabets.
for char in s21:
    if char.isalpha():                  # if it is true then append it.
        alpha_list = alpha_list + char + " "
        
# Display the list of extracted digits from string.
print(f"Given string is :{s21}\nList of extracted alphabets from string : {alpha_list} ")

Given string is :abcd1ef34gh10
List of extracted alphabets from string : a b c d e f g h

## 26) Count the number of uppercase letters in a string.

## Ans 26)

#### Steps :
- Take the string.
- Initialise a counter to count the number of uppercase letters in a string.
- Traverse through string and check each character whether it is uppercase or not by using string's isupper() function.
- If character is uppercase, increase the counter value by 1.
- Display the counter value i.e number of uppercase letters in a string.

In [13]:
# Take the string.
s22 = "UpperCaseString"

# Initialise a counter to count the number of uppercase letters in a string.
upper_letter_count = 0

# Traverse through string and check each character whether it is uppercase or not by using string's isupper() function.
# If character is uppercase, increase the counter value by 1.
for char in s22:
    if char.isupper():
        upper_letter_count += 1
        
# Display the counter value i.e number of uppercase letters in a string.
print(f"Given string is : {s22}\nNumber of uppercase letters are: {upper_letter_count} ")

Given string is : UpperCaseString
Number of uppercase letters are: 3

## 27) Count the number of lowercase letters in a string.

## Ans 27)

#### Steps :
- Take the string.
- Initialise a counter to count the number of lowercase letters in a string.
- Traverse through string and check each character whether it is lowercase or not by using string's islower() function.
- If character is lowercase, increase the counter value by 1.
- Display the counter value i.e number of lowercase letters in a string.

In [14]:
# Take the string.
s23 = "UpperCaseString"

# Initialise a counter to count the number of lowercase letters in a string.
lowercase_letter_count = 0

# Traverse through string and check each character whether it is lowercase or not by using string's isupper() function.
# If character is lowercase, increase the counter value by 1.
for char in s23:
    if char.islower():
        lowercase_letter_count += 1
        
# Display the counter value i.e number of lowercase letters in a string.
print(f"Given string is : {s23}\nNumber of lowercase letters are: {lowercase_letter_count} ")

Given string is : UpperCaseString
Number of lowercase letters are: 12

## 28) Swap the case of each character in a string.

## Ans 28)

#### Steps :
- Take the string.
- Use string's swapcase() function to swap the lowercase letter to uppercase and vice versa.
- Display the swapped case string.

In [20]:
# Take the string.
s24 = "This is my String"

# Use string's swapcase() function to swap the lowercase letter to uppercase and vice versa.
swapedcase_str = s24.swapcase()

# Display the swapped case string.
print(f"Given string is : {s24}\nSwaped case string: {swapedcase_str} ")

Given string is : This is my String
Swaped case string: tHIS IS MY sTRING

## 29) Remove a specific word from a string.

## Ans 29)

1) Note: String is an immutable data type that means once it is created we can't delete/update/insert any character/word from it.
2) To make any changes in string, convert it into mutable data type i,e convert string into list.

#### Steps :
- Take the string.
- Convert string into list i.e immutable to mutable data type and store into a variable
- Now remove a specfic word by using list.remove() function, by just passing the word to it.
- Convert list to string again and print the final string.

In [29]:
# take a string 
s25 = "This is my string and i want to remove a specific word"

# convert string into list
s25_list = s25.split()

# use remove() function and pass a specific word that you want to remove
s25_list.remove("word")

# Display both the string
print(f"Given string : {s25}\nString after removing a specific word: {' '.join(s25_list)}")

Given string : This is my string and i want to remove a specific word
String after removing a specific word: This is my string and i want to remove a specific

## 30) Check if a string is a valid email address.

## Ans 30)

1) To solve this question we should know the conditions of email to be valid.
2) An email contains two parts : prefix (personal info) and suffix (domain) seperated by symbol "@".
3) As a beginner use validate_email function from email_validator library.

#### Steps :
- Install email_validator library using command < pip install email_validator >
- Import validate_email function from email_validator.
- email_validator function takes the email as input and returns the object of email, if it is valid else raise error.
- To handle the error, we should use try, except block.
- If function returns object then print email is valid else return not valid.

In [7]:
pip install email_validator

Collecting email_validator
  Downloading email_validator-2.1.1-py3-none-any.whl (30 kB)
Requirement already satisfied: idna>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from email_validator) (3.4)
Collecting dnspython>=2.0.0
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 12.9 MB/s eta 0:00:00
Installing collected packages: dnspython, email_validator
Successfully installed dnspython-2.6.1 email_validator-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
from email_validator import validate_email

In [11]:
email = "noorain2razagmail.com"
try :
    v = validate_email(email)
    if email == v["email"]:
        print("Given email is valid.")
except:
    print("Given email is not valid.")

Given email is not valid.

## 31)  Extract the username from an email address string.

## Ans 31)

1) An email contains two parts : prefix (personal info) and suffix (domain) seperated by symbol "@".
2) To extract the username/prefix, split email by '@'.

#### Steps :
- Take a string of email address.
- Split the string by using split() function and pass the argument as "@".
- Split function will return the list of two words 1st will be username and 2nd will be domain.
- Get the 1st element of list i.e username and display it.

In [16]:
# Take a string of email address.
s26 = "noorain2raza@gmail.com"

# Split the string by using split() function and pass the argument as "@".
email_list = s26.split("@")

# Split function will return the list of two words 1st will be username and 2nd will be domain.
# Get the 1st element of list i.e username and display it.
print(f"Given string email address is : {s26}\nExtracted username is : {email_list[0]} ")

Given string email address is : noorain2raza@gmail.com
Extracted username is : noorain2raza

## 32)  Extract the domain name from an email address string.

## Ans 32)

1) An email contains two parts : prefix (personal info) and suffix (domain) seperated by symbol "@".
2) To extract the domain/suffix, split email by '@'.

#### Steps :
- Take a string of email address.
- Split the string by using split() function and pass the argument as "@".
- Split function will return the list of two words 1st will be username and 2nd will be domain.
- Get the 2nd element of list i.e domain and display it.

In [17]:
# Take a string of email address.
s27 = "noorain2raza@gmail.com"

# Split the string by using split() function and pass the argument as "@".
email_list1 = s27.split("@")

# Split function will return the list of two words 1st will be username and 2nd will be domain.
# Get the 2nd element of list i.e domain and display it.
print(f"Given string email address is : {s27}\nExtracted domain is : {email_list1[1]} ")

Given string email address is : noorain2raza@gmail.com
Extracted domain is : gmail.com

## 33)  Replace multiple spaces in a string with a single space.

## Ans 33)

#### Steps :
- Take a string.
- Split the string by using split() function and store it in a variable.
- Using join function, create the string again, by joining each word/element with " " single space.
- Display the given and updated string.

In [24]:
# Take a string.
s28 = "   hello world!    my self noorain     raza      i am good"

# Split the string by using split() function and store it in a variable.
s28_list = s28.split()

# Using join function, create the string again, by joining each word/element with " " single space.
# Display the given and updated string.
print(f"Given string is : {s28}\nUpdated string : {' '.join(s28_list)} ")

Given string is :    hello world!    my self noorain     raza      i am good
Updated string : hello world! my self noorain raza i am good

## 34)  Check if a string is a valid URL.

## Ans 34)

1) A valid URL consists of 3 parts : Protocol,Domain and path.
2) For ex- "https://www.github.com/Noorain-Raza-encoder" in this URL part before // is a protocol.

#### Steps :
- Install validators library using command  < pip install validators >
- Use url function of validators and pass the string url to validate it.
- Validators.url() function returns True if given url is valid else raise error.
- If function returns true print, url is valid else print url is not valid.

In [29]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [30]:
import validators

In [35]:
s30_url = "https://www.github.com/Noorain-Raza-encoder"

if validators.url(s30_url):
    print("Given string URL is valid.")  
else:
    print("Given string URL is not valid.")

Given string URL is valid.

## 35)  Extract the protocol (http or https) from a URL string.

## Ans 35)

1) A valid URL consists of 3 parts : Protocol,Domain and path.
2) For ex- "https://www.github.com/Noorain-Raza-encoder" in this URL part before // is a protocol.
3) Taks is to extract this protocol from the string URL.

#### Steps :
- Take the string URL.
- Split the string using string's split function by passing argument ':'
- It will return a list of two elements.
- 1st element is protocol and 2nd element is other part of the URL.
- Print the 1st element of the URL i.e protol.

In [3]:
# Take the string URL.
s31_URL = "https://www.github.com/Noorain-Raza-encoder"

# Split the string using string's split function by passing argument ':'
s31_URL_list = s31_URL.split(':')

# It will return a list of two elements.
# 1st element is protocol and 2nd element is other part of the URL.
# Print the 1st element of the URL i.e protol.
print(f"Given URL is : {s31_URL}\nExtracted protocol is : {s31_URL_list[0]} ")

Given URL is : https://www.github.com/Noorain-Raza-encoder
Extracted protocol is : https

## 36)  Find the frequency of each character in a string.

## Ans 36)

1) This task can be done by using hashmap/dictionary.
2) Create a dictionary and start adding each character one by one. Here character will act as a key and its frequency will act as value.
3) If the character doesn't exist in the dictionary then add it as a key and value as 1.
4) If character already exist then update its value i.e increase its value by 1. (that means this character is repeapted)

#### Steps :
- Take the string.
- Create an empty dictionary.
- Traverse through the string.
- Start adding each character into the dictionary with value 1. (if character is new, if it is already there then increase its frequescy by 1.)
- NOTE: As we know that dictionary can't contain duplicate keys.
- Print the dictionary by using dictionary function dict.items()

In [7]:
# Take the string.
s32 = "noorain"

# Create an empty dictionary.
hash_table = {}

# Traverse through the string.
# Start adding each character into the dictionary with value 1. (if character is new, if it is already there then increase its frequescy by 1.)
for char in s32:
    hash_table[char] = 1 + hash_table.get(char,0)
    
# Print the dictionary by using dictionary function dict.items()
print("Frequency of each character in given string : {s32} is : ")
list(hash_table.items())

Frequency of each character in given string : {s32} is :

[('n', 2), ('o', 2), ('r', 1), ('a', 1), ('i', 1)]

## 37)  Remove all punctuation from a string.

## Ans 37) 

1) Let this is the list of basic punctuations that may be in string:        [".",";",":","!","?","/","\\",",","#","@","$","&",")","(","\"","-"]
2) Note: we can't remove the any character/word from the string as string is an immutable data type.
3) But we can replace the character and update the string.

#### Steps :
- Take the string.
- Traverse through the string.
- check whether a character is in punctuation list or not?
- If it is then replace it with space or nothing and update the string.
- Print the final string after removing all the puctuations from the string.

In [11]:
# Take the string.
s33 = "Hello!, this is a Full--Stack&&Data##Science@@Pro Course????"

# Create a list of punctuations : 
punc_list = [".",";",":","!","?","/","\\",",","#","@","$","&",")","(","\"","-"]

# Display the string before making any changes in it.
print(f"Given string with puctuations : {s33}")


# traverse through the string and check character is in punctuation list or not?    
for char in s33 :
    if char in punc_list:
        s33 = s33.replace(char,' ')
        
# Display the final string after removing all punctuations
print(f"\nString after removing punctuations : {s33}")

Given string with puctuations : Hello!, this is a Full--Stack&&Data##Science@@Pro Course????

String after removing punctuations : Hello   this is a Full  Stack  Data  Science  Pro Course

## 38)  Check if a string contains only digits.

## Ans 38)

1) String's isdigit() function return True if all the characters in the string are digits.

#### Steps :
- Take the string.
- Use isdigit() function to check whether a string only contains digits or not.
- If function return true that means string contains only digits else no.

In [17]:
# Take the string.
s34 = '123'

# Use isdigit() function to check whether a string only contains digits or not.
# If function return true that means string contains only digits else no.

if s34.isdigit():
    print("Yes, Given string contains only digits.")
else:
    print("No, Given string doesn't contain only digits.")

Yes, Given string contains only digits.

## 39)  Check if a string contains only alphabets.

## Ans 39)

1) String's isalpha() function return True, if all the characters in the string are alphabets.

#### Steps :
- Take the string.
- Use isalpha() function to check whether a string only contains alphabets or not.
- If function returns true that means string contains only alphabets else no.

In [22]:
# Take the string.
s35 = 'noor raza'

# Use isalpha() function to check whether a string only contains alphabets or not.
# If function return true that means string contains only alphabets else no.

if s35.isalpha():
    print("Yes, Given string contains only alphabets.")
else:
    print("No, Given string doesn't contain only alphabets.")

No, Given string doesn't contain only alphabets.

## 40)  Convert a string to a list of characters.

## Ans 40)

#### Steps :
- Take the string.
- Use string's list() function to convert a string to a list of characters.
- Print the list of chacters.

In [23]:
# Take the string.
s36 = "NOORAIN"

# Use string's list() function to convert a string to a list of characters.
s36_char_list = list(s36)

# Print the list of chacters.
print(f"Given string : {s36}\nList of characters : {s36_char_list} ")

Given string : NOORAIN
List of characters : ['N', 'O', 'O', 'R', 'A', 'I', 'N']

## 41)  Check if two strings are anagrams.

## Ans 41)

1) An anagram string is a rearrangement of the letters of a given string to form another word or phrase, using all the original letters exactly once. For example, "listen" and "silent" are string anagrams of each other.
2) After sorting both the string if we compare them, we can know wether both the strings are same or not ? i.e two strings are anagrams or not?
3) But string is an immutable data type, we can't change/sort it once it is created.
4) So convert string into list then sort and compare it.


#### Steps :
- Take two string.
- Convert both the strings into list.
- Comapre both the list if both are similar then strings are anagram else strings are not anagrams.

In [27]:
# Take two string.
s37_1 = "listen"
s37_2 = "silent"

# Convert both the strings into list.
# Comapre both the list if both are similar then strings are anagram else strings are not anagrams.
if list(s37_1).sort() == list(s37_2).sort():
    print("Yes, Strings are anagrams.")
else:
    print("No, Strings are not anagrams.")

Yes, Strings are anagrams.

## 42)  Encode a string using a Caesar cipher.

## Ans 42)

1) The Caesar Cipher, a cryptographic technique used to encrypt(encode) and decrypt(decode) messages.It involves shifting the letters of a message/text/string by a certain number of positions. 


#### Steps :
-  Traverse through the string 
-  Get the ASCII/numeric/unicode value of char and store it in a variable
-  ADD the value to unicode value of char to get the unicode value of shifted character
-  Now using the chr() function, get the shifted/new_char by passing new_char/shifter_char unicode value to it.
-  Finally append/concatenate this char to empty string

In [1]:
s42 = "WORLD"
shift = 3
encrpyt = ""
for char in s42:
    char_unicode = ord(char)

    new_char_unicode = char_unicode + shift

    new_char = chr(new_char_unicode)

    encrpyt = encrpyt + new_char

print(f"Given string : {s42}\nEncrypted string : {encrpyt} ")

Given string : WORLD
Encrypted string : ZRUOG

## 43)  Decode a Caesar cipher encoded string

## Ans 43)

1) The Caesar Cipher, a cryptographic technique used to encrypt(encode) and decrypt(decode) messages.It involves shifting the letters of a message/text/string by a certain number of positions. 


#### Steps :
-  Traverse through the string 
-  Get the ASCII/numeric/unicode value of char and store it in a variable
-  SUBSTRACT the value to unicode value of char to get the unicode value of shifted character
-  Now using the chr() function, get the shifted/new_char by passing new_char/shifter_char unicode value to it.
-  Finally append/concatenate this char to empty string

In [2]:
s43 = "ZRUOG"
shift = 3
decrpyt = ""
for char in s43:
    char_unicode = ord(char)

    new_char_unicode = char_unicode - shift

    new_char = chr(new_char_unicode)

    decrpyt = decrpyt + new_char

print(f"Given string : {s43}\nDecrypted string : {decrpyt} ")

Given string : ZRUOG
Decrypted string : WORLD

## 44)  Find the most frequent word in a string.

## Ans 44)

#### Steps :
- Take a string of words.
- Convert the strings into list.
- Traverse through each word of the list and create a hashtable/dictionary for each word as a key and frequency as value.
- Once dictionary is created, find the max value from the list values.
- Traverse through the dictionary and compare max value with each word value. If value is same then return that key/word as a most frequent word.

In [52]:
# Take a string.
s44 = "Rohan is a boy. He is very intelligent"

# display the given string
print(f"Given string is : {s44} ")
# Convert the strings into list.
s44_list = s44.split()

# Traverse through each word of the list and create a hashtable/dictionary for each word as a key and frequency as value.
s44_dict = {}
for word in s44_list:
    s44_dict[word] = 1 + s44_dict.get(word,0)
    
# Once dictionary is created, find the max value from the list values.
max_freq = max(list(s44_dict.values()))

# Traverse through the dictionary and compare max value with each word value. If value is same then return that key/word as a most frequent word.
for key in s44_dict:
    if s44_dict[key] == max_freq:
        print(f"The most frequent word in string is : {key} ")

Given string is : Rohan is a boy. He is very intelligent
The most frequent word in string is : is

## 45)  Find all unique words in a string.

## Ans 45)

1) A word is called as unique if it occurs only 1 time.That means a word of frequency 1 is called as unique word.
2) We can use this concept to create a dictionary of all words and we can create a list of those words whose frequency is 1.

#### Steps :
- Take a string of words.
- Convert the strings into list.
- Traverse through each word of the list and create a hashtable/dictionary for each word as a key and frequency as value.
- Once dictionary is created,traverse through it and create a list of words/keys whose value/frequency is 1.
- Print that list of unique words.

In [54]:
# Take a string of words.
s45 = "Rohan is a boy. He is very intelligent"

# Convert the strings into list.
s45_wrod_list = s45.split()

# Traverse through each word of the list and create a hashtable/dictionary for each word as a key and frequency as value.
s45_dict = {}
for word in s45_wrod_list:
    s45_dict[word] = 1 + s45_dict.get(word,0)
    
# Once dictionary is created,traverse through it and create a list of words/keys whose value/frequency is 1.
s45_uniq_word_lis = []
for key in s45_dict:
    if s45_dict[key] == 1 and len(key)!=1:
        s45_uniq_word_lis.append(key)
        
# Print that list of unique words.
print(f"Given string is : {s45}\nList of unique words in string : {s45_uniq_word_lis} ")

Given string is : Rohan is a boy. He is very intelligent
List of unique words in string : ['Rohan', 'boy.', 'He', 'very', 'intelligent']

## 46)  Count the number of syllables in a string.

## Ans 46)

1) Syllable is a part/subtring of a word/string that produces 'vowel sound'.
2) As a begginner we can count the number of syllabes by just counting the number of vowels in a word/string.

#### Steps :
- Take a string of words.
- Create another string of vowels i.e "aeiou"
- Initialise a variable named as syllable_count as counter.
- Traverse through each character in string and check, character is vowel or not.
- If character is vowel then increase the syllable count by 1.
- finally print the number of syllables in given string.

In [57]:
# Take a string of words.
s46 = "butter"

# Create another string of vowels i.e "aeiou"
vowel_str = "aeiou"

# Initialise a variable named as syllable_count as counter.
syllable_count = 0

# Traverse through each character in string and check, character is vowel or not.
# If character is vowel then increase the syllable count by 1.
for char in s46:
    if char in vowel_str :
        syllable_count += 1
            
# finally print the number of syllables in given string.
print(f"Given string is : {s46}\nNumber of syllables in string : {syllable_count} ")

Given string is : butter
Number of syllables in string : 2

## 47)  Check if a string contains any special characters.

## Ans 47)

1) List of some special characters : ['~', ':', "'", '+', '[', '\\', '@', '^', '{', '%', '(', '-', '"', '*', '|', ',', '&', '<', '`', '}', '.', '_', '=', ']', '!', '>', ';', '?', '#', '$', ')', '/']

#### Steps :
- Take a string of words.
- Create a list of special characters.
- Traverse through each character in string and check, character is in list of special character or not?.
- If character is in the list then print string contains special characters.
- Else string does not contain any special character.

In [62]:
def CheckSpeChar(string):
    # Create a list of special characters.
    spec_char_list = ['~', ':', "'", '+', '[', '\\', '@', '^', '{', '%', '(', '-', '"', '*', '|', ',', '&', '<', '`', '}', '.', '_', '=', ']', '!', '>', ';', '?', '#', '$', ')', '/']

    # Traverse through each character in string and check, character is in list of special character or not?.
    # If character is in the list then print string contains special characters.
    for char in string:
        if char in spec_char_list:
            return print("Yes, string contains special character.")
            
    return print("No, string does not contain any special character.")
    # Else string does not contain any special character.

In [65]:
# Take a string of words.
s47 = "noorain2raz1@33adjhfa.com"
CheckSpeChar(s47)

Yes, string contains special character.

## 48)  Remove the nth word from a string.

## Ans 48)

#### Steps :
- Take a string of words.
- Convert string into list.
- Remove nth word/element from the list using pop function.
- convert back list into string and print it.

In [68]:
# Take a string of words.
s48 = "Data Science is very popular now days"
n = 2

print(f"Given string : {s48}")
# Convert string into list.
s48_list = s48.split()

# Remove nth word/element from the list.
s48_list.pop(n-1)

# convert back list into string and print it.
s48 = " ".join(s48_list)

print(f"String after removing {n}th word : {s48} ")

Given string : Data Science is very popular now days
String after removing 2th word : Data is very popular now days

## 49)  Insert a word at the nth position in a string.

## Ans 49)

#### Steps :
- Take a string of words.
- Convert string into list.
- Insert a word at nth position in list using insert function.
- convert back list into string and print it.

In [70]:
# Take a string of words.
s49 = "Data is very popular now days"
n = 2

print(f"Given string : {s49}")
# Convert string into list.
s49_list = s49.split()

# Remove nth word/element from the list.
s49_list.insert(n-1,'Science')

# convert back list into string and print it.
s49 = " ".join(s49_list)

print(f"String after removing {n}th word : {s49} ")

Given string : Data is very popular now days
String after removing 2th word : Data Science is very popular now days

## 50)  Convert a CSV string to a list of lists.

## Ans 50)

#### Steps :
- Take a string of words. 
- Create an empty list to store list elements.
- Convert string into list.
- Traverse through each word in list and convert it into list then append it to the word list which is a list of list.
- Print it.

In [79]:
# Take a string of words.
s50 = "name,age,height"

# Create an empty list to store list elements.
wrod_list = []
for word in s50.split(","):
    wrod_list.append([word])
    
wrod_list

[['name'], ['age'], ['height']]

# TOPIC: List Based Assignment Problem

## 1) Create a list with integers from 1 to 10.

## Ans 1) 

- Write all the integers from 1 to 10 inside a pair of bracket seperated by comma and assign it to variable.

In [5]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(f"Created list is : {list1} ")

Created list is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 2)  Find the length of a list without using the `len()` function.

## Ans 2)

#### Steps :
- create/take a list.
- Initialise a counter with 0, that will count the number of elements in list.
- Traverse through the list.
- Increase the counter by 1 for each element of the list.
- Display the length i.e counter value.

In [7]:
# create/take a list.
list2 = [1,2,3,4,5,6,7,8,9,10]

# Initialise a counter with 0, that will count the number of elements in list.
list_counter = 0

# Traverse through the list.
# Increase the counter by 1 for each element of the list.
for ele in list2:
    list_counter += 1
    
# Display the length i.e counter value. 
print(f"Given list : {list2}\nLength of list is : {list_counter} ")

Given list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Length of list is : 10

## 3) Append an element to the end of a list.

## Ans 3)

#### Steps :
- create/take a list.
- Append (add an element at the end of the list) an element by uisng list's append function.
- Display the list.

In [8]:
# create/take a list.
list3 = [1,26,1,2]
print(f"Given list : {list3} ")

# Append (add an element at the end of the list) an element by uisng list's append function.
list3.append("appended element")

# Display the list.
print(f"Updated list is : {list3} ")

Given list : [1, 26, 1, 2]
Updated list is : [1, 26, 1, 2, 'appended element']

## 4) Insert an element at a specific index in a list.

## Ans 4)

#### Steps :
- create/take a list.
- Insert an element at a specific index in a list by using list's insert function.
- Display the list.

In [9]:
# create/take a list.
list4 = [10,20,40,50,60]

print(f"Given list : {list4} ")

# Insert an element at a specific index in a list by using list's insert function.
list4.insert(2,"inserted element")

# Display the list.
print(f"Updated list : {list4} ")

Given list : [10, 20, 40, 50, 60]
Updated list : [10, 20, 'inserted element', 40, 50, 60]

## 5) Remove an element from a list by its value.

## Ans 5)

#### Steps :
- create/take a list.
- Remove an element from a list by using list's remove function.
- remove function removes the first occurence of the given element from the list.
- Display the updated list.

In [10]:
# create/take a list.
list5 = [0,1,2,3,4,5,6]

print(f"Given list is : {list5} ")

# Remove an element from a list by using list's remove function.
list5.remove(0)

# Display the updated list.
print(f"Updated list is : {list5} ")

Given list is : [0, 1, 2, 3, 4, 5, 6]
Updated list is : [1, 2, 3, 4, 5, 6]

## 6) Remove an element from a list by its index.

## Ans 6)

#### Steps :
- create/take a list.
- Remove an element from a list by its index using list's pop function.
- Pop function takes index and removes the element from the list.
- Display the updated list.

In [12]:
# create/take a list.
list6 = [1,1,2,3,20,8] 

print(f"Given list is : {list6} ")

# Remove an element from a list by using list's pop function.
list6.pop(1)

# Display the updated list.
print(f"Updated list is : {list6} ")

Given list is : [1, 1, 2, 3, 20, 8]
Updated list is : [1, 2, 3, 20, 8]

## 7) Check if an element exists in a list.

## Ans 7)

#### Steps :
- create/take a list.
- Traverse through the list lineary and compare the given element with each element of list.
- If both elements are same, it means element exists other wise element doesn't exists.

In [17]:
# create/take a list.
list7 = [10,20,30,40]
search_element = 10

print(f"Given list : {list7}\nSearch element : {search_element} ")
# Traverse through the list lineary and compare the given element with each element of list.
def seach_element(lis,element):
    for ele in list7:
        if element == ele:
            return print("Element exists in list")

    return print("Element doesn't exist in list") 
# If both elements are same, it means element exists other wise element doesn't exists.
seach_element(list7,search_element)

Given list : [10, 20, 30, 40]
Search element : 10
Element exists in list

## 8) Find the index of the first occurrence of an element in a list.

## Ans 8)

#### Steps :
- create/take a list and take an element to find its occurrence
- Use index() function to find the first occrurrence of the given element.

In [21]:
# create/take a list and take an element to find its occurrence
list8 = [2,5,5,6,7,8]
element = 5
print(f"Given list : {list8} ")

# Use index() function to find the first occrurrence of the given element.
print(f"Index of 1st occurrence of element is : {list8.index(element)}")

Given list : [2, 5, 5, 6, 7, 8]
Index of 1st occurrence of element is : 1

## 9) Count the occurrences of an element in a list.

## Ans 9)

#### Steps :
- create/take a list and take an element to count its occurrence
- Use count() function to find the occrurrences of the given element.

In [23]:
# create/take a list and take an element to find its occurrence
list9 = [2,5,5,6,7,8]
element = 5
print(f"Given list : {list9} ")

# Use count() function to find the occrurrence of the given element.
print(f"Occurrence of {element} is : {list9.count(element)}")

Given list : [2, 5, 5, 6, 7, 8]
Occurrence of 5 is : 2

## 10) Reverse the order of elements in a list

## Ans 10)

#### Steps :
- create/take a list.
- Use built-in reversed() function to reverse the elements of list.
- Reversed function returns an object of reversed list of elements.
- To get all elements traverse through it and append each element into an empty list.

In [28]:
# create/take a list.
list10 = [4,5,6,7,8]
print(f"Given list : {list10} ")

# Use reversed() function to reversed the elements of list and append each element to new list.
reversed_list = []
for ele in reversed(list10):
    reversed_list.append(ele)
    
print(f"Reversed of list is : {reversed_list}")

Given list : [4, 5, 6, 7, 8]
Reversed of list is : [8, 7, 6, 5, 4]

## 11) Sort a list in ascending order.

## Ans 11)

#### Steps :
- Create/take a list.
- Use built-in sort() function to sort the elements of list.
- Sort function by default sort the elements of list in ascending order
- Print the list after sorting the elements

In [3]:
# Create/take a list.
list11 = [2,90,7,5,6]

# given list
print(f"Given list : {list11} ")

#Use built-in sort() function to sort the elements of list.
list11.sort()

# pirnt the list after sorting the elements
print(f"Sorted list : {list11} ")

Given list : [2, 90, 7, 5, 6]
Sorted list : [2, 5, 6, 7, 90]

## 12) Sort a list in descending order

## Ans 12)

#### Steps :
- Create/take a list.
- Use built-in sort() function to sort the elements of list.
- Pass a parameter reverse = True, that reverse the elements in descending order
- Print the list after sorting the elements

In [4]:
# Create/take a list.
list12 = [2,90,7,5,6]

# given list
print(f"Given list : {list12} ")

#Use built-in sort() function to sort the elements of list.
list12.sort(reverse = True)

# pirnt the list after sorting the elements
print(f"Sorted list : {list12} ")

Given list : [2, 90, 7, 5, 6]
Sorted list : [90, 7, 6, 5, 2]

## 13) Create a list of even numbers from 1 to 20.

## Ans 13)

#### Steps:
- Create an empty list to store all even numbers from 1 to 20.
- Generate a sequence of even numbers from 1 to 20 by using range() function.
- In range() function, start from 2, take a positive jump of 2 till 21.
- Append each number generated from range() function into list.
- Print the list of even numbers from 1 to 20.

In [2]:
# Create an empty list
list13 = []

# Generate a sequence of numbers using range() function and append each generated even number into list
# To get only even numbers, start from 2 till 20 and take a jump of 2
for i in range(2,21,2):
    list13.append(i)
    
# print list of even numbers
print(f"List of even numbers from 1 to 20 : {list13} ")

List of even numbers from 1 to 20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 14) Create a list of odd numbers from 1 to 20

## Ans 14)

#### Steps:
- Create an empty list to store all odd numbers from 1 to 20.
- Generate a sequence of odd numbers from 1 to 20 by using range() function.
- In range() function, start from 1, take a positive jump of 2 till 21.
- Append each number generated from range() function into list.
- Print the list of odd numbers from 1 to 20.

In [3]:
# Create an empty list
list14 = []

# Generate a sequence of numbers using range() function and append each generated odd number into list
# To get only odd numbers, start from 1 till 20 and take a jump of 2
for i in range(1,21,2):
    list14.append(i)
    
# print list of even numbers
print(f"List of odd numbers from 1 to 20 : {list14} ")

List of odd numbers from 1 to 20 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 15) Find the sum of all elements in a list.

## Ans 15)

#### Steps:
- Create/ take a list from user
- use built-in sum() function to summ all the elements 
- Print the sum of elements of list

In [6]:
# Create/ take a list from user
list15 = [1,2,3,4]

print(f"Given list is : {list15} ")
# use built-in sum() function to summ all the elements 
# Print the sum of elements of list

print(f"Sum of all the elements of list is : {sum(list15)} ")

Given list is : [1, 2, 3, 4]
Sum of all the elements of list is : 10

## 16) Find the maximum value in a list.

## Ans 16)

#### Steps:
- Create/ take a list from user
- use built-in max() function to find the max value in a list.
- Print the max value of list.

In [7]:
# Create/ take a list from user
list16 = [1,2,3,4]

print(f"Given list is : {list16} ")
# use built-in max() function to find the min value in list.
# Print the max value of list

print(f"Max value in a list is : {max(list16)} ")

Given list is : [1, 2, 3, 4]
Max value in a list is : 4

## 17) Find the minimum value in a list.

## Ans 17)

#### Steps:
- Create/ take a list from user
- use built-in min() function to find the min value in a list.
- Print the min value of list.

In [8]:
# Create/ take a list from user
list16 = [1,2,3,4]

print(f"Given list is : {list16} ")
# use built-in min() function to find the min value in list.
# Print the min value of list

print(f"Min value in a list is : {min(list16)} ")

Given list is : [1, 2, 3, 4]
Min value in a list is : 1

## 18) Create a list of squares of numbers from 1 to 10

## Ans 18)

#### Steps:
- Create an empty list to store the sqaure of numbers from 1 to 10.
- Use range function to generate a sequence of numbers from 1 to 10.
- Take the sqaure of each generated number and append it to the list.
- Print the list of squares.

In [4]:
# Create an empty list to store the sqaure of numbers from 1 to 10.
list18 = []

# Use range function to generate a sequence of numbers from 1 to 10.
# Take the sqaure of each generated number and append it to the list.
for i in range(1,11):
    list18.append(i*i)
    
# Print the list of squares.
print(f"List of squares of numbers from 1 to 10 is : {list18} ")

List of squares of numbers from 1 to 10 is : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 19) Create a list of random numbers.

## Ans 19)

#### Steps:
- Improt random module to generate a random number from given range.
- Create an empty list to store random generated numbers.
- Lets create a list of 10 random numbers by running the loop 10 times.
- Append each randome generated number to the list.
- Print  the random generated list.

In [5]:
import random

In [12]:
# lets generate a sequence of 10 random numbers
list19 = []

# run the loop 10 times
for i in range(10):
    list19.append(random.randrange(1,20))
    
print(f"List of 10 random numbers : {list19} ")

List of 10 random numbers : [2, 11, 16, 17, 18, 11, 5, 13, 14, 17]

## 20) Remove duplicates from a list.

## Ans 20)

#### Steps:
- Take/create a list of duplicate elements.
- Traverse through the list and count the each element occurence.
- If the count of any element is greater than 1 that means there is/are duplicate value/s.
- To remove duplicate value run the loop number of occurence of element minus 1 times so that we can keep original element.
- Print the list.

In [18]:
# Take/create a list of duplicate elements.
list20 = [1,1,2,3,3,4,3,6]

print(f"Given list  : {list20} ")
# Traverse through the list and count the each element occurence.
# If the count of any element is greater than 1 that means there is/are duplicate value/s.
# To remove duplicate value run the loop number of occurence of element minus 1 times so that we can keep original element.
for ele in list20:
    if list20.count(ele) > 1:
        for i in range(list20.count(ele) -1):
            list20.remove(ele)
            
# Print the list.      
print(f"List after removing duplicate values : {list20} ")

Given list  : [1, 1, 2, 3, 3, 4, 3, 6]
List after removing duplicate values : [1, 2, 4, 3, 6]

## 21) Find the common elements between two lists.

## Ans 21)

1) We can use set's intersection function to find the common elements between two lists.
2) This method handles the duplicate values as well.

#### Steps:
- Create/take two list
- Convert both the lists into set.
- Use the set's intersection function to get the set of common elements.
- Convert common set of elements into list and print it.

In [21]:
# Create/take two list
list21_1 = [1,2,3,4,5]
list21_2 = [3,4,8,10,1]

# Convert both the lists into set.
# Use the set's intersection function to get the set of common elements.
# Convert common set of elements into list and print it.
common_elements = list(set(list21_1).intersection(set(list21_2)))

print(f"List 1 :{list21_1}\nList 2 : {list21_2}\nList of Common elements : {common_elements}  ")

List 1 :[1, 2, 3, 4, 5]
List 2 : [3, 4, 8, 10, 1]
List of Common elements : [1, 3, 4]

## 22) Find the difference between two lists.

## Ans 22)

1) The difference between two lists is defined as : for ex- list1 = [1,2,9], list2 = [8,7,9]
- - The difference between the two lists in Python (first list - second list ) results in items that are in the first list but not in the second list.
- - list1 - list2 = [1,2]
- - Similarly, the difference between the second list and the first list (second list - first list) results in the items that are in the second list but not in the first list.
- - list2 - list1 = [8,7]


#### Steps:
- Take/Create two lists
- Iterate over the first list using for loop, and for each item in the first list check if the item is present in the second list using the "not in" syntax of Python. 
- If the item is not found in the second list then append the item to a new list(empty list).
- Print the difference list.

In [24]:
list22_1 = [1,2,9]
list22_2 = [8,7,9]

# empty list
diff_list = []

# traverse through 
for ele1 in list22_1:
    if ele1 not in list22_2:
        diff_list.append(ele1)
       
print(f"List 1 : {list22_1}\nList 2 : {list22_2}\nDifference between list : {diff_list}")

List 1 : [1, 2, 9]
List 2 : [8, 7, 9]
Difference between list : [1, 2]

## 23) Merge two lists.

## Ans 23)

- Take two lists.
- Using list concatenation, merge both the list.
- Print the merge list.

In [27]:
#Take two lists.
list23_1 = [1,2,3]
list23_2 = [4,5,6]

# Using list concatenation, merge both the list.
print(f"List 1 : {list23_1}\nList 2 : {list23_2}\nMerge list : {list23_1+list23_2}")

List 1 : [1, 2, 3]
List 2 : [4, 5, 6]
Merge list : [1, 2, 3, 4, 5, 6]

## 24) Multiply all elements in a list by 2.

## Ans 24)

- Take a list and create a new list to store multiplied elements.
- Traverse through list and multiply each element by 2 and append that element into list.
- Print Multiplied list.

In [32]:
# Take a list and create a new list to store multiplied elements.
list24 = [1,2,3,4,5]
list24_1 = []

# Traverse through list and multiply each element by 2 and append that element into list.
for ele in list24:
    list24_1.append(ele*2)
 
# Print Multiplied list.
print(f"Given list : {list24}\nMultiplied each element of list by 2 : {list24_1} ")

Given list : [1, 2, 3, 4, 5]
Multiplied each element of list by 2 : [2, 4, 6, 8, 10]

## 25) Filter out all even numbers from a list

## Ans 25)

1) Task: Create a list of even and odd numbers and extract all the even numbers and them.

- Create/take a list from user.
- Traverse through list and check whether the element is even or not.
- Create a list of even numbers and append all the even numbers into it
- Print the even numbers list.

In [1]:
# Create/take a list from user.
list25 = [1,2,3,4,5,6,7,8,9,10]

even_list = []

# Traverse through list and check whether the element is even or not.
# Create a list of even numbers and append all the even numbers into it
for ele in list25:
    if ele%2 == 0:
        even_list.append(ele)
        
# Print the even numbers list.
print(f"Given list is : {list25}\nList of filter out even numbers : {even_list} ")

Given list is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of filter out even numbers : [2, 4, 6, 8, 10]

## 26) Convert a list of strings to a list of integers.

## Ans 26) 

- Create/take a list of string.
- Traverse through each string element of list.
- Convert each string element into interger by performing typcasting.
- And store that element to its place in the list.
- Print the updated list.

In [2]:
# Create/take a list of string.
list26 = ['1','2','10','7','9']

print(f"Given list of string : {list26}")
# Traverse through each string element of list.
# Convert each string element into interger by performing typcasting.
# And store that element to its place in the list.
for i in  range(len(list26)):
    list26[i] = int(list26[i])

# Print the updated list.
print(f"Updated list : {list26} ")

Given list of string : ['1', '2', '10', '7', '9']
Updated list : [1, 2, 10, 7, 9]

## 27) Convert a list of integers to a list of strings.

## Ans 27) 

- Create/take a list of integers.
- Traverse through each integer element of list.
- Convert each integer element into string by performing typcasting.
- And store that element to its place in the list.
- Print the updated list.

In [3]:
# Create/take a list of int.
list27 = [1, 2, 10, 7, 9]

print(f"Given list of string : {list27}")
# Traverse through each integer element of list.
# Convert each integer element into string by performing typcasting.
# And store that element to its place in the list.
for i in  range(len(list27)):
    list27[i] = str(list27[i])

# Print the updated list.
print(f"Updated list : {list27} ")

Given list of string : [1, 2, 10, 7, 9]
Updated list : ['1', '2', '10', '7', '9']

## 28) Flatten a nested list.

## Ans 28) 

1) Nested list : Lists inside a main list.
2) How to identify a list is a nested list?
- - Ans : By using type() function we can identify there is a nested list inside the main list or not.
3) How to extract the elements of nested list to make the main list flatten after identifying a nested list?
- - Ans : First create an empty list and start appending all the elements of the main list , when your code identify there is a nested list, By using the nested loop traverse through the nested list and append each element of nested list to an empty list.


#### Steps :
- Take/create a nested list.
- Create an empty list to store flatten list.
- Traverse through the nested list and check the type of each element of the list.
- If the type of element is integer then append that element into empty list.
- If the type of any element is list, that means there is a nested list, now run a nested loop and traverse through each element of that nested list and append each element to empty list.
- Print the flatten list.

- NOTE: THIS CODE ONLY WORKS FOR SINGLE NESTED LIST, FOR MULTIPLE NESTED LISTS, WE HAVE TO USE RECURSION FUNCTION.

In [4]:
# Take/create a nested list.
list28 = [1,2,3,[4,5],6,7,[8,9,10]]

# Create an empty list to store flatten list.
flatten_list = []

# Traverse through the nested list and check the type of each element of the list.
# If the type of element is integer then append that element into empty list.
# If the type of any element is list, that means there is a nested list, now run a nested loop and traverse through each element of that nested list and append each element to empty list.
for ele in list28:
    if type(ele) == list:
        for list_ele in ele:
            flatten_list.append(list_ele)
    else:
        flatten_list.append(ele)
        
# Print the flatten list.
print(f"Nested list : {list28}\nFlatten list : {flatten_list} ")

Nested list : [1, 2, 3, [4, 5], 6, 7, [8, 9, 10]]
Flatten list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 29) Create a list of the first 10 Fibonacci numbers.

## Ans 29)

1) Fibonacci series formula : F(n) = F(n-1) + F(n-2)

#### Steps :
- Initialise a fibonacci series by first two numbers 0 and 1.
- Generate a fibonacci series of 10 numbers using fibonacci formula and append next generated element to list.
- Print the final fibonaccci series of 10 numbers.

In [13]:
# Initialise a fibonacci series by first two numbers 0 and 1.
list29_fibo_num = [0,1]

# Generate a fibonacci series of 10 numbers using fibonacci formula and append next generated element to list.
for i in range(2,10):
    list29_fibo_num.append(list29_fibo_num[i-1] + list29_fibo_num[i-2])
    
# print the final fibonaccci series of 10 numbers.
print(f"List of 10 fibonacci numbers is : {list29_fibo_num} ")

List of 10 fibonacci numbers is : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 30) Check if a list is sorted.

## Ans 30)

1) This function is created to check a list is sorted or not in asceding order.

#### Steps:
- Create/take a list of elements.
- Create a function that only checks whether current element is greater than the next element or not
- If current element is greater than next element that means list is not sorted in asceding order.
- Else list is sorted in ascending order.

In [14]:
def CheckSorting(lis):
    for i in range(len(lis)-1):
        if lis[i] > lis[i+1]:
            return print("Given list is not sorted.")
    return print(f"Given list is sorted")

In [15]:
#create a list of elements
list30 = [1,2,3,4,5,6]

print(f"Given list is : {list30} ")
# call CheckSorting fucntion to check list is sorted or not?
CheckSorting(list30)

Given list is : [1, 2, 3, 4, 5, 6]
Given list is sorted

## 31) Rotate a list to the left by `n` positions.

## Ans 31)

#### Steps:
- Create a list of elements.
- Take the value of n from user.
- Store first element to temp varaible.
- Start shifting the value of list from 2nd element till last.
- Once shifting is done, assign the temp value to last index.
- Repeat the above steps till n times to rotate the elements of list by n position.

In [26]:
list31 = [1,2,3,4,5]

print(f"Given list : {list31}")
n = int(input("Enter value of n to rotate a list by n positions: "))
if n < len(list31):
    for i in range(n):
        temp = list31[0]
        for j in range(1,len(list31)):
            list31[j-1] = list31[j]
            
        list31[-1] = temp
else:
    for i in range(n%len(list31)):
        temp = list31[0]
        for j in range(1,len(list31)):
            list31[j-1] = list31[j]
            
        list31[-1] = temp
        
print(f"List after rotating the elements to the left by {n} position : {list31}")

Given list : [1, 2, 3, 4, 5]

Enter value of n to rotate a list by n positions:  2

List after rotating the elements to the left by 2 position : [3, 4, 5, 1, 2]

## 32) Rotate a list to the right by `n` positions.

## Ans 32)

#### Steps:
- Create a list of elements.
- Take the value of n from user.
- Store last element to temp varaible.
- Start shifting the value of list from 2nd last element till start in reverse order.
- Once shifting is done, assign the temp value to first index.
- Repeat the above steps till n times to rotate the elements of list by n position.

In [24]:
list31 = [1,2,3,4,5]

print(f"Given list : {list31}")
n = int(input("Enter value of n to rotate a list by n positions: "))
if n < len(list31):
    for i in range(n):
        temp = list31[-1]
        for j in reversed(range(len(list31))):
            list31[j] = list31[j-1]
            
        list31[0] = temp
else:
    for i in range(n%len(list31)):
        temp = list31[-1]
        for j in reversed(range(len(list31))):
            list31[j] = list31[j-1]
            
        list31[0] = temp
        
print(f"List after rotating the elements to the right by {n} position : {list31}")

Given list : [1, 2, 3, 4, 5]

Enter value of n to rotate a list by n positions:  4

List after rotating the elements to the right by 4 position : [2, 3, 4, 5, 1]

## 33) Create a list of prime numbers up to 50.

## Ans 33)

#### Steps:
- Create an empty list to store prime numbers
- Run the loop from 2 to 51 to generate prime numbers
- Check whether number is prime or not.
- If number is prime then append it.
- Print the list of prime numbers

In [10]:
# create an empty list to store prime numbers
prime_list = []

# Run the loop from 2 to 51 to generate prime numbers
# check whether number is prime or not.
# if number is prime then append it.
for i in range(2,51):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        prime_list.append(i)
    
# print the list of prime numbers
print(f"List of prime numbers : {prime_list} ")

List of prime numbers : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## 34) Split a list into chunks of size `n`.

## Ans 34)

#### Steps:
- Create a list of elements and take the size of chunks n from user.
- Create an empty list to store chunks.
- Run the loop only when chunk size is less than length of list.
- Initialise start pointer with 0 and stop pointer with chunk size.
- When length%chunks == 0, Run the loop till length/chunks times.- When length%chunks == 0, Run the loop till length/chunks times.
- only slice when stop pointer under the range of list.
- When length%chunks != 0, Run the loop till length/chunks times and also append the rest of the elements.
- Print the list.

In [12]:
# Create a list of elements
list34 = [1,2,3,4,5,6,7,8,9]

# print the list:
print(f"Given list is : {list34} ")

n = int(input("Enter the chunk size to split a list into chunks : "))

# create en empty list to store the chunks 
temp = []

# We only can split a list into chunks when chunk size is less than length of list.
# initialise start and stop pointer to slice the list
if n < len(list34):
    start , stop = 0 , n
    
    for i in range(int(len(list34)/n)):      # run the loop till length/chunks times
        if stop < len(list34):               # only slice when stop pointer under the range of list
            temp.append(list34[start:stop])  # append the chunk into temp list
            start = stop                     # update both pointers after appending the chunk
            stop += n
        else:                                
            temp.append(list34[start:])      # when stop pointer goes out of range of list
    
    if len(list34)%n != 0 :                  # appending remaining chunks
        temp.append(list34[start:])
        
                
# print the list of chunks
print(f"List of chunks is : {temp}")

Given list is : [1, 2, 3, 4, 5, 6, 7, 8, 9]

Enter the chunk size to split a list into chunks :  5

List of chunks is : [[1, 2, 3, 4, 5], [6, 7, 8, 9]]

## 35) Find the second largest number in a list.

## Ans 35)

#### Steps:
- Take list of elements.
- Sort the list of elments in ascending order.
- After sorting in ascending order last(-1) element will be largest and hence 2nd last(-2) will be 2nd largest number in a list.
- Read the 2nd last elment i.e -2th element from the list and print it as a second largest number.

In [25]:
# Create a list of elements
list35 = [10,30,50,100]

print(f"Given list is : {list35} ")

# sort the list in ascending order
list35.sort()

# Read the 2nd last element from the list as 2nd largest number
print(f"Second largest number is : {list35[-2]} ")

Given list is : [10, 30, 50, 100]
Second largest number is : 50

## 36) Replace every element in a list with its square.

In [27]:
# create a list of elements
list36 = [1,2,3,4,5,6,7,8,9,10]

print(f"Given list of elements is : {list36} ")

for i in range(len(list36)):
    list36[i] = list36[i]*list36[i]
    
print(f"List of replaced element with its sqaure : {list36}")

Given list of elements is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of replaced element with its sqaure : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 37) Convert a list to a dictionary where list elements become keys and their indices become values.

## Ans 37)

#### Steps :
- Create a list and empty dictionary.
- Using enumerate function get the value and index of list element.
- Add index as a value and element as a key into the dictionary.
- Print final dictionary.

In [32]:
# Creat/take a list 
list37 = [10,20,30,40]

# create an empty dictionary
list_dict = {}

# Get the element and index of list element using enumerate fucntion.
# add each element as a key and index as a pair into the dictionary
for idx,ele in enumerate(list37):
    list_dict[ele] = idx

# Display dictionary
print(f"Given list is : {list37}\nConverted Dictionary is : {list_dict} ")

Given list is : [10, 20, 30, 40]
Converted Dictionary is : {10: 0, 20: 1, 30: 2, 40: 3}

## 38) Shuffle the elements of a list randomly.

## Ans 38)

1) Shufle the elements of a list randomly by using shuffle function of random library.
2) Shuffle function takes a sequence and rearrange it, it doesn't return anything.

#### Steps:
- Import random library
- Create a list of elements.
- Pass a list to shuffle function.
- Print the shuffled list.

In [3]:
# import random library
import random

# create a list of elements
list38 = [1,2,3,4,5]

print(f"Given list : {list38}")
# use shuffle function of random library
random.shuffle(list38)

# print the shuffled list
print(f"Shuffled list : {list38} ")

Given list : [1, 2, 3, 4, 5]
Shuffled list : [5, 3, 1, 4, 2]

## 39) Create a list of the first 10 factorial numbers

## Ans 39)

1) Factorial => F(n) = n*F(n-1)
2) Base case => F(0) = F(1) = 1

#### Steps:
- Inititalise a list of factorial by starting 3 number's(0,1,2) factorials.
- Start calculating the factorail from n = 3 to n = 10 by running the loop from 3 to 10.
- Appending each factorial to the list of factorials.
- Print the final list of factorials of 10 numbers.

In [36]:
list39_Fact_list = [1,1,2]

for i in range(3,10):
    list39_Fact_list.append(i*list39_Fact_list[i-1])

print(f"List of 10 Factorial numbers : {list39_Fact_list}")

List of 10 Factorial numbers : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

## 40) Check if two lists have at least one element in common.

## Ans 40)

#### Steps:
- Create/take two lists.
- Use the set's intersection property/function to find the common elements in both the list.
- If the there is no common element in both the list, set function returns empty set of length of 0.
- If the length of set is zero that means there is no common element in both the list.
- Else there is/are common element/s in both the list.

In [41]:
list40_1 = [1,2,3]
list40_2 = [4,5,6]

print(f"Given lists=>\nList 1 : {list40_1}\nList 2 : {list40_2}")
if len(set(list40_1).intersection(set(list40_2))) != 0:
    print("There is/are common element/s in two given lists")
else:
    print("There is no common element in two given lists")

Given lists=>
List 1 : [1, 2, 3]
List 2 : [4, 5, 6]
There is no common element in two given lists

## 41) Remove all elements from a list

## Ans 41)

#### Steps:
- Create/take a list of elements
- Use clear() function to remove all element from the list.
- print list after removing all element form it

In [45]:
# create/take a list of elements
list41 = [1,2,3,4,5,6,7,8,9]

print(f"Given list : {list41} ")
# Use clear() function to remove all element of the list.
list41.clear()

# print list after removing all element form it
print(f"List after removing all elemnts : {list41} ")

Given list : [1, 2, 3, 4, 5, 6, 7, 8, 9]
List after removing all elemnts : []

## 42) Replace negative numbers in a list with 0.

## Ans 42)

- Create a list of negative and positive elements.
- Traverse through the list.
- Check whether a number/element is negative(if num < 0) replace it with 0 else don't.
- Print the updated list.

In [49]:
# Create a list of negative and positive elements.
list42 = [1,-2,3-5,-10,7,8,-11]

print(f"Given list is : {list42}")
# Traverse through the list.
# Check whether a number/element is negative(if num < 0) replace it with 0 else don't.
for i in range(len(list42)):
    if list42[i] < 0:
        list42[i] = 0
        
# Print the updated list.
print(f"List after replacin negative numbers with zero : {list42} ")

Given list is : [1, -2, -2, -10, 7, 8, -11]
List after replacin negative numbers with zero : [1, 0, 0, 0, 7, 8, 0]

## 43) Convert a string into a list of words.

## Ans 43)

#### Steps:
- Create/take a string of words.
- Using split function, convert each word of string into list and store it in a variable, as we know that string is an immutable data type.
- print the final list of words.

In [60]:
# Take the string.
list43 = "My name is Noorain Raza"

print(f"Given string : {list43}")
# Use string's list() function to convert a string to a list of characters.
list43_list = list43.split()

# Print the list of chacters.
print(f"List of words : {list43_list} ")

Given string : My name is Noorain Raza
List of words : ['My', 'name', 'is', 'Noorain', 'Raza']

## 44) Convert a list of words into a string.

## Ans 44)

#### Steps:
- Create a list of words.
- Using join function convert list of words/string into string.
- Joing function takes iterables with iterators as string.
- print the converted string.

In [55]:
# Create a list of words.
# Using join function convert list of words/string into string.
# Joing function takes iterables with iterators as string.
list44 = ['My','name','is','Noorain','Raza']

# print the converted string.
print(f"Given list of word : {list44} \nConverted String  is : {' '.join(list44)}")

Given list of word : ['My', 'name', 'is', 'Noorain', 'Raza']
Converted String  is : My name is Noorain Raza

## 45) Create a list of the first `n` powers of 2.

## Ans 45)

#### Steps:
- Take a value of n from user.
- Create an empty list to store power of 2s.
- Run the loop n times to calculate the n power of 2 and append each value to empty list.
- Print the list

In [64]:
# Take a value of n from user
n = int(input("Enter the value of n : "))

# Create an empty list to store power of 2s.
list_power2 = []

# run the loop n times to calculate the n power of 2 and append each value to empty list.
for i in range(n):
    list_power2.append(2**i)

# print the list
print(f"List of powers of 2 : {list_power2}")

Enter the value of n :  4

List of powers of 2 : [1, 2, 4, 8]

## 46) Find the longest string in a list of strings.

## Ans 46)

#### Steps:
- Create a list of words/strings.
- Initialse a max_len variable by 0 and max_len_word by empty string.
- Traverse through the list of words/string.
- Update max_len and max_len_word, if current length of word is greater than previous word.
- Print the longest string/word.

In [61]:
# create a list of strings
list46 = ['You','are','very','beautifull','guy']

max_len = 0
max_len_word = ''
for word in list46:
    if len(word) > max_len:
        max_len = len(word)
        max_len_word = word


print(f"Given list of strings is : {list46} \nLongest string in given list of strings is : {max_len_word} ")

Given list of strings is : ['You', 'are', 'very', 'beautifull', 'guy']
Longest string in given list of strings is : beautifull

## 47) Find the shortest string in a list of strings.

## Ans 47)

#### Steps:
- Create a list of words/strings.
- Initialse a min_len variable by very high value and min_len_word by empty string.
- Traverse through the list of words/string.
- Update min_len and min_len_word, if current length of word is less than previous word.
- Print the shortest string/word.

In [62]:
# create a list of strings
list47 = ['You','are','very','beautifull','guy']

min_len = 99999
min_len_word = ''
for word in list47:
    if len(word) < min_len :
        min_len = len(word)
        min_len_word = word


print(f"Given list of strings is : {list47} \nLongest string in given list of strings is : {min_len_word} ")

Given list of strings is : ['You', 'are', 'very', 'beautifull', 'guy']
Longest string in given list of strings is : You

## 48) Create a list of the first `n` triangular numbers.

## Ans 48)

1) Triangular series : 1,3,6,10,15,21,....
2) Formula : Tn = n(n+1)/2

#### Steps:
- Take value of n from the user.
- Generate n triangular numbers list by using formula.
- Append each triangular number to empty list.

In [66]:
n = int(input("Enter value of n : "))

triangular_list = []
for i in range(1,n+1):
    Ti = int(i*(i+1)/2)
    triangular_list.append(Ti)
    
print(f"Triangular list of {n} numbers : {triangular_list} ")

Enter value of n :  6

Triangular list of 6 numbers : [1, 3, 6, 10, 15, 21]

## 49) Check if a list contains another list as a subsequence.

## Ans 49)

#### Steps:
- Create/Take two lists.
- 1) Main list : In which subsequence to be search.
- 2) Subsequence list : list to be seach in main list.
- First of all search the 1st element of subsequence into main list, If 1st element exists in main list then only we will check other elements otherwise return/print main list does not contain another list as a subsequence.
- If 1st element present in main list then find the index at which position the element is.
- Once index is found we can slice the main from that index till  till length of subsequence.
- If sliced list and another list are equal that means main list contains another list as a subsequence else main list does not contain another list as a subsequence.

In [8]:
list49_1= [1,2,3,4,5]
list49_2 = [2,3]

def subsequence(list49,search_sequence):
    for ele in search_sequence:
        if ele not in list49:
            return print(f"List doesn't contain another list as a subsequence.")
        else:
            for idx, element in enumerate(list49):
                if element == search_sequence[0]:
                    if list49[idx:idx+len(search_sequence)] == search_sequence[0:len(search_sequence)]:
                        return print(f"List contains another list as a subsequence.")
                    else:
                        return print(f"List doesn't contain another list as a subsequence.")

                    
print(f"Given list : {list49_1}\nAnother list : {list49_2} ")                    
subsequence(list49_1, list49_2)

Given list : [1, 2, 3, 4, 5]
Another list : [2, 3]
List contains another list as a subsequence.

## 50)  Swap two elements in a list by their indices.

## Ans 50)

#### Steps:
- Create/take a list of elements.
- Swap the first and last element by their indices using comma operator.
- Print list after swaping the elements.

In [58]:
list50 = [1,2,3,4]

print(f"Given list : {list50}")

# swap the first and last elements by their indices using comma operator
list50[0],list50[-1] = list50[-1],list50[0]

print(f"List after swaping 1st and last element : {list50}")

Given list : [1, 2, 3, 4]
List after swaping 1st and last element : [4, 2, 3, 1]

# TOPIC: Tuple Based Assignment Problem

## 1)  Create a tuple with integers from 1 to 5.

## Ans 1)

#### Steps :
- A tuple can be created by entering values inside a pair of parentheses i.e (val1,val2...) and store it in a variable.

In [1]:
# enter the values from 1 to 5 inside a pair of parenthese and store it in a variable.
t1 = (1,2,3,4,5)

print(f"Tuple with integers from 1 to 5 is : {t1}")

Tuple with integers from 1 to 5 is : (1, 2, 3, 4, 5)

## 2) Access the third element of a tuple.

## Ans 2)

#### Steps :
- A tuple stores values from 0th index, so to access the 3rd element should at index 2.
- Create a tuple and store it in a variable
- Print/access the 3rd element by using index value.

In [2]:
# create a tuple and store it in a variable
t2 = ('my','name','is','noorain')

# print/access the 3rd element by using index value.
print(f"Third element of given tuple {t2} is : {t2[2]}")

Third element of given tuple ('my', 'name', 'is', 'noorain') is : is

## 3) Find the length of a tuple without using the `len()` function.

## Ans 3)

#### Steps :
- Create a tuple and store it in a variable
- Initialise a counter to store the length of tuple.
- Traverse through each element of tuple by using loop and increase the counter value by 1 in each iteration.
- In this way we can find the length of a tuple without using the in built len() function.

In [4]:
# Create a tuple and store it in a variable
t3 = (1,2,3,4,5,6,7)

# Initialise a counter to store the length of tuple.
counter = 0

# Traverse through each element of tuple by using loop and increase the counter value by 1 in each iteration.
for i in t3:
    counter += 1
    
# print the length of tuple i.e counter's value
print(f"Given Tuple is : {t3}\nThe length of given tuple is : {counter} ")

Given Tuple is : (1, 2, 3, 4, 5, 6, 7)
The length of given tuple is : 7

## 4) Count the occurrences of an element in a tuple.

## Ans 4)

#### Steps :
- Create a tuple and store it in a variable
- Take an element form the user to count its occurrences in tuple.
- By using count() function count the occurrences of given element by passing that element to the count function.
- Print the occurrences of the element

In [5]:
# Create a tuple and store it in a variable
t4 = (1,2,3,4,2,2,1,1,4,4,5)

print(f"Given tuple is : {t4}")

# Take an element form the user to count its occurrences in tuple.
ele = int(input("Enter an element to find its occurrences in tuple : "))

# By using count() function count the occurrences  of given element by passing that element to the count function.
# Print the occurrences of the element
print(f"The occurences of given element {ele} in tuple : {t4.count(ele)} ")

Given tuple is : (1, 2, 3, 4, 2, 2, 1, 1, 4, 4, 5)

Enter an element to find its occurrences in tuple :  2

The occurences of given element 2 in tuple : 3

## 5) Find the index of the first occurrence of an element in a tuple.

## Ans 5)

#### Steps :
- Create a tuple and store it in a variable
- Take an element form the user to find the index of its first occurrence in tuple.
- By using index() function find the occurrences of given element by passing that element to the index function.
- Note: index() function returns the index of 1st occurence of given element if present in tuple/list else through error.
- Print the index of the element of its first occurrence in tuple.

In [7]:
# Create a tuple and store it in a variable
t5 = (1, 2, 3, 4, 2, 2, 1, 1, 4, 4, 5)

print(f"Given tuple is : {t5}")
# Take an element form the user to find the index of its first occurrence in tuple.
ele = int(input("Enter an element to find its occurrences in tuple : "))

# By using find() function find the occurrences of given element by passing that element to the find function.
# Print the index of the element of its first occurrence in tuple.
print(f"The occurences of given element {ele} in tuple : {t5.index(ele)} ")

Given tuple is : (1, 2, 3, 4, 2, 2, 1, 1, 4, 4, 5)

Enter an element to find its occurrences in tuple :  1

The occurences of given element 1 in tuple : 0

## 6) Check if an element exists in a tuple

## Ans 6)

#### Steps :
- Create a tuple and store it in a variable
- Take an element form the user to check whether it is present in tuple or not?.
- By using 'in' operator, we can search an element exists in a tuple or not.
- If element exists, display element exists in a tuple esle element doesn't exist in tuple.

In [9]:
# Create a tuple of string and store it in a variable
t6 = ('noorain','imran','sudhanshu','krish')

print(f"Given tuple is : {t6}")
# Take an element form the user to check whether it is present in tuple or not?.
name = input("Enter an element/name to check whether it exists in tuple or not : ")

# By using 'in' operator, we can search an element exists in a tuple or not.
# If element exists, display element exists in a tuple esle element doesn't exist in tuple.
if name in t6:
    print(f"wooho !! , Element {name} exists in tuple.")
else:
    print(f"Element {name} doesn't exist in tuple.")

Given tuple is : ('noorain', 'imran', 'sudhanshu', 'krish')

Enter an element/name to check whether it exists in tuple or not :  imran

wooho !! , Element imran exists in tuple.

## 7) Convert a tuple to a list.

## Ans 7)

#### Steps :
- Create a tuple and store it in a variable
- By using list() function type caste given tuple into list.
- Print the converted list.

In [10]:
# Create a tuple and store it in a variable
t7 = (1,2,3,4,5)

print(f"Given tuple is : {t7}")
# By using list() function type caste given tuple into list.
t7 = list(t7)

# Print the converted list.
print(f"Converted list is : {t7}")

Given tuple is : (1, 2, 3, 4, 5)
Converted list is : [1, 2, 3, 4, 5]

## 8) Convert a list to a tuple

## Ans 8)

#### Steps :
- Create a list and store it in a variable
- By using tuple() function type caste given list into tuple.
- Print the converted tuple.

In [11]:
# Create a list and store it in a variable
l8 = [1,2,3,4,5]

print(f"Given list is : {l8}, its type is : {type(l8)}")
# By using tuple() function type caste given list into tuple.
l8 = tuple(l8)

# Print the converted tuple.
print(f"Converted tuple is : {l8}, its type is : {type(l8)}")

Given list is : [1, 2, 3, 4, 5], its type is : <class 'list'>
Converted tuple is : (1, 2, 3, 4, 5), its type is : <class 'tuple'>

## 9)  Unpack the elements of a tuple into variables.

## Ans 9)

1) Before unpacking the elements of a tuple lets understand what is packing and unpacking of a tuple.
2) Packing of a tuple : When we assign values to a tuple (in pair of parentheses) or when we create a tuple then it is called "Packing of a tuple"
3) Unpacking of a tuple : When we retrieve the values of a tuple and store each value in a variable then it is called "Unpacking of a tuple"
4) Task : store/assign each value of given tuple in a variable.
5) NOTE: Number of varaibles should be same as the number of element in tuple.

#### Steps :
- Create a tuple and store it in a variable
- Assign each value of tuple to varaibles. How?
- - Use an assignmnet operator '=', on LHS of this operator write the varaible names and tuple should be on RHS. 
- Print each variable values.

In [13]:
# Create a tuple and store it in a variable
t9 = (10,20,30,40)

print(f"Given Packed tuple is : {t9}")
# Assign each value of tuple to varaibles. How?
# Use an assignmnet operator '=', on LHS of this operator write the varaible names and tuple should be on RHS. 
var1,var2,var3,var4 = t9

# Print each variable values.
print(f"Elements of tuple after unpacking it : \nvar1 = {var1},var2 = {var2},var3 = {var3},var4 = {var4}")

Given Packed tuple is : (10, 20, 30, 40)
Elements of tuple after unpacking it :
var1 = 10,var2 = 20,var3 = 30,var4 = 40

## 10) Create a tuple of even numbers from 1 to 10.

## Ans 10)

1) Even numbers are those numbers which are divisible by two.

#### Steps :
- Create an empty list to store even numbers.
- Run a loop in range of 1 to 11.
- Check a number is even or not. 
- If a number is even, append it into empty list else don't
- Convert list into tuple and print it.

In [15]:
# Create an empty list to store even numbers.
lis10 = []

# Run a loop in range of 1 to 11.
# Check a number is even or not. 
# If a number is even, append it into our list else don't
for num in range(1,11):
    if num%2 == 0:
        lis10.append(num)

# Convert list into tuple and print it.
lis10 = tuple(lis10)
print(f"Tuple of even numbers from 1 to 10 : {lis10}")

Tuple of even numbers from 1 to 10 : (2, 4, 6, 8, 10)

## 11) Create a tuple of odd numbers from 1 to 10.

## Ans 11)

1) Odd numbers are those numbers which are not divisible by two.

#### Steps :
- Create an empty list to store odd numbers.
- Run a loop in range of 1 to 11.
- Check a number is odd or not. 
- If a number is odd, append it into empty list else don't
- Convert list into tuple and print it.

In [16]:
# Create an empty list to store odd numbers.
lis11 = []

# Run a loop in range of 1 to 11.
# Check a number is odd or not. 
# If a number is odd, append it into our list else don't
for num in range(1,11):
    if num%2 != 0:
        lis11.append(num)

# Convert list into tuple and print it.
lis11 = tuple(lis11)
print(f"Tuple of odd numbers from 1 to 10 : {lis11}")

Tuple of odd numbers from 1 to 10 : (1, 3, 5, 7, 9)

## 12) Concatenate two tuples.

## Ans 12)

#### Steps :
- Create/take two tuples.
- Using plus operator '+' concatenate both the tuples.
- Print the concatenated tuple.

In [17]:
# Create/take two tuples.
t12_1 = (1,2,3,4)
t12_2 = (5,6,7)

print(f"Given tuples are :\nTuple 1 : {t12_1}\nTuple 2 : {t12_2}")

# Using plus operator '+' concatenate both the tuples.
# Print the concatenated tuple.
print(f"Concatenated tuple is : {t12_1 + t12_2}")

Given tuples are :
Tuple 1 : (1, 2, 3, 4)
Tuple 2 : (5, 6, 7)
Concatenated tuple is : (1, 2, 3, 4, 5, 6, 7)

## 13) Repeat a tuple three times.

## Ans 13)

#### Steps :
- Create/take a tuple.
- Mupltiply tuple by 3 using operator '*'
- Print the repeated tuple.

In [19]:
# Create/take a tuple.
t13 = (1,2,3)

print(f"Given tuple is : {t13}")
# Mupltiply tuple by 3 using operator '*'
# Print the repeated tuple.
print(f"Repeated tuple 3 times : {t13*3} ")

Given tuple is : (1, 2, 3)
Repeated tuple 3 times : (1, 2, 3, 1, 2, 3, 1, 2, 3)

## 14) Check if a tuple is empty.

## Ans 14)

1) empty tuple : A tuple is called empty if its length is zero. That means there is no element inside it.

#### Steps :
- Create/take a tuple.
- Using len() function find the length of tuple.
- If length of a tuple is zero that means tuple is empty else tuple is not empty.

In [20]:
# Create/take a tuple.
t14 = ()

# Using len() function find the length of tuple.
# If length of a tuple is zero that means tuple is empty else tuple is not empty.
if len(t14) > 0:
    print(f"Given tuple : {t14} is not empty.")
else:
    print(f"Given tuple : {t14} is empty.")

Given tuple : () is empty.

## 15) Create a nested tuple.

## Ans 15)

1) Nested tuple : When there is/are tuple(s) inside a main tuple then main tuple is called as 'Nested tuple'.

#### Steps :
- Create/take a tuple and assign some values.
- While assigning value to tuple , In place of a value assign a tuple.
- Print nested tuple.

In [23]:
t15 = (1,2,3,4,(8,1,2),10)

print(f"Nested tuple is : {t15} ")

Nested tuple is : (1, 2, 3, 4, (8, 1, 2), 10) , <class 'tuple'>

## 16) Access the first element of a nested tuple.

## Ans 16)

1) Note : To access the first element of a nested tuple. First question should come in mind is : how system/python can know where is a tuple inside the main tuple ?
2) To know this, we can check the data type of each element of a tuple by traversing through it.
3) If type of any element is tuple then we can access its first element by indexing.

#### Steps :
- Create/take a nested tuple.
- Traverse through tuple and check it's data type.
- If data type is tuple of any element then using indexing access first element.
- Print the first element of a nested tuple.

In [25]:
# Create/take a nested tuple.
t16 = (12,23,50,(10,2,8),1)

print(f"Given tuple is : {t16}")
# Traverse through tuple and check it's data type.
# If data type is tuple of any element then using indexing access first element.
# Print the first element of a nested tuple.
for ele in t16:
    if type(ele) == tuple:
        print(f"First element of a nested tuple is : {ele[0]}")

Given tuple is : (12, 23, 50, (10, 2, 8), 1)
First element of a nested tuple is : 10

## 17) Create a tuple with a single element.

## Ans 17)

1) Note : A tuple with a single element is created by enterting a value then a comma.
2) For ex- if we create a tuple like this  : t = (1) <-- X (wrong way), it is an integer not a tuple.
3) if we create like this : t = (1,) , right way

#### Steps :
- Enter a value in pair of parentheses and enter a comma (,).
- In this way we can create a tuple with a single element.

In [32]:
# Enter a value in pair of parentheses and enter a comma (,).
t17 = (1,)

# print it and its type
print(f"Tuple with a single element : {t17} and its data type is : {type(t17)}")

Tuple with a single element : (1,) and its data type is : <class 'tuple'>

## 18) Compare two tuples.

## Ans 18)

1) We can perform different comparison task on tuples.
2) For ex- Check whether two tuples are equal to each other or not ?
3) For ex- Check whether a tuple is greater/lesser than to other tuple ? 

#### Steps :
- Lets Check whether two tuples are equal to each other or not?
- create/Take two tuples.
- Using equal operator '==' compare both tuples.
- Print Both are equal if condition is true else both are not equal.

In [33]:
# Lets Check whether two tuples are equal to each other or not?
# create/Take two tuples.
t18_1 = (1,2,3)
t18_2 = (1,2,3)

print(f"Given tuples:\nTuple 1 : {t18_1}\nTuple 2 : {t18_2}")
# Using equal operator '==' compare both tuples.
# Print Both are equal if condition is true else both are not equal.
if t18_1 == t18_2 :
    print("Given tuples are equal.")
else:
    print("Given tuples are not equal.")

Given tuples:
Tuple 1 : (1, 2, 3)
Tuple 2 : (1, 2, 3)
Given tuples are equal.

## 19) Delete a tuple.

## Ans 19)

1) Delete a tuple using 'del' keyword. del keyword is used to delete the object in python.

#### Steps :
- create/Take a tuples.
- Using del keyword delete given tuple

In [37]:
t19 = (1,21,32)
print(f"Given tuple is : {t19} ")

# Delete tuple using del keyword. 
del t19

print("Tuple is successfully deleted.")

Given tuple is : (1, 21, 32)
Tuple is successfully deleted.

## 20) Slice a tuple.

## Ans 20)

1) As tuple is an ordered collection of data elements.
2) we can slice a tuple by using pair of bracket i.e '[]'
3) To slice a tuple we have to pass starting, ending and step/jump points inside the pair of bracket.
4) Syntax : tuple[start : end : step]

#### Steps :
- create/Take a tuples.
- Lets access only starting 5 values of tuple by passing start to 0, end to 5, left the step to its by default value.
- Print it

In [40]:
# create/Take a tuples.
t20 = (1,2,3,4,5,6,7,8,9,10)

print(f"Given tuple is : {t20}")

# Lets access only starting 5 values of tuple by passing start to 0, end to 5, left the step to its by default value.
# Print it
print(f"Tuple after slicing starting 5 values : {t20[0:5]}")

Given tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple after slicing starting 5 values : (1, 2, 3, 4, 5)

## 21) Find the maximum value in a tuple.

## Ans 21)

#### Steps :
- create/Take a tuples.
- Using max() function find the max value in a tuple and print it.

In [41]:
# create/Take a tuples.
t21 = (10,20,30,40,50)

# Using max() function find the max value in a tuple and print it.
print(f"Given tuple : {t21}\nMaximum element in tuple is : {max(t21)}")

Given tuple : (10, 20, 30, 40, 50)
Maximum element in tuple is : 50

## 22)  Find the minimum value in a tuple.

## Ans 22)

#### Steps :
- Create/Take a tuples.
- Using min() function find the min value in a tuple and print it.

In [42]:
# create/Take a tuples.
t21 = (10,20,30,40,50)

# Using min() function find the min value in a tuple and print it.
print(f"Given tuple : {t21}\nMinimum element in tuple is : {min(t21)}")

Given tuple : (10, 20, 30, 40, 50)
Minimum element in tuple is : 10

## 23) Convert a string to a tuple of characters.

## Ans 23)

#### Steps :
- create/Take a string.
- Using list() function convert string into list of characters.
- Convert list into tuple by type casting list into tuple.
- Print tuple of characters.

In [47]:
# create/Take a string.
l23_str = 'data'
print(f"Given string is : {l23_str}")

# Using list() function convert string into list of characters.
l23_str = list(l23_str)

# Convert list into tuple by type casting list into tuple.
l23_str = tuple(l23_str)

# Print tuple of characters.
print(f"Tuple of characters : {l23_str}")

Given string is : data
Tuple of characters : ('d', 'a', 't', 'a')

## 24)  Convert a tuple of characters to a string.

## Ans 24)

#### Steps :
- Create/Take tuple of characters.
- Using join() function, convert a tuple of characters into string.
- Print converted string.

In [48]:
l24 = ('d', 'a', 't', 'a')
print(f"Given tuple of characters : {l24}")

# convert characters of tuple to string using .join() function
print("Converted string : ",''.join(l24))

data

## 25)  Create a tuple from multiple data types.

## Ans 25)

#### Steps :
- Create/Take a tuple that contains element of different data types.
- Print craeted tuple.

In [52]:
# Create/Take a tuple that contains element of different data types.
l25 = (1,'data', 0.4, None, True, 5+6j)

# Print craeted tuple.
print(f"Tuple with elements of differenet data types : {l25}")

Tuple with elements of differenet data types : (1, 'data', 0.4, None, True, (5+6j))

## 26) Check if two tuples are identical.

## Ans 26)

#### Steps :
- Create/Take two tuples.
- Using equal operator '==' compare both tuples.
- Print Both tuples are identical if condition is true else both are not identical.

In [65]:
# create/Take two tuples.
t26_1 = (1,2,3)
t26_2 = (1,2,6)

print(f"Given tuples:\nTuple 1 : {t26_1}\nTuple 2 : {t26_2}")

# Using equal operator '==' compare both tuples.
# Print Both tuples are identical if condition is true else both are not identical.
if t26_1 == t26_2 :
    print("Given tuples are identical.")
else:
    print("Given tuples are not identical.")

Given tuples:
Tuple 1 : (1, 2, 3)
Tuple 2 : (1, 2, 6)
Given tuples are not identical.

## 27) Sort the elements of a tuple.

## Ans 27)

1) Note: Tuple is an immutable data type. We can't change the position of its element directly.
2) Sorting of tuple can be performed using sorted() function. When we pass a tuple to it, internally it converts tuple into list then perform sorting and return the list. So we have to convert back that list into tuple.

#### Steps :
- Create/Take tuple of elements.
- Using sorted() function, sort the elements of a tuple.
- Pass a tuple to sorted() function, whatever it returns type caste it into tuple.
- Print the sorted tuple.

In [58]:
# Create/Take tuple of elements.
t26 = (4,10,8,1,7)
print(f"Given tuple is : {t26}")

# Using sort() function, sort the elements of a tuple in ascending or descending order.
# Print the sorted tuple.
print(f"Sorted tuple : {tuple(sorted(t26))}")

Given tuple is : (4, 10, 8, 1, 7)
Sorted tuple : (1, 4, 7, 8, 10)

## 28) Convert a tuple of integers to a tuple of strings.

## Ans 28)

#### Steps :
- Create/Take tuple of intergers.
- Convert it into list.
- Using map function convert each interger into string.
- Convert the list return from map function into tuple
- Print tuple of strings.

In [61]:
# Create/Take tuple of intergers.
t27 = (1,2,3,4,5)

print(f"Given tuple of integers : {t27}")
# Convert it into list.
# Using map function convert each interger into string.
# Convert the list return from map function into tuple
# Print tuple of strings.
print("Tuple of strings : " ,tuple(map(str,list(t27))))

Given tuple of integers : (1, 2, 3, 4, 5)
Tuple of strings :  ('1', '2', '3', '4', '5')

## 29) Convert a tuple of strings to a tuple of integers.

## Ans 29)

#### Steps :
- Create/Take tuple of strings.
- Convert tuple into list.
- Using map function convert each string into integer.
- Convert the list returned from map function into tuple
- Print tuple of integers.

In [62]:
# Create/Take tuple of strings.
t28 = ('1', '2', '3', '4', '5')
print(f"Given tuple of strings : {t28}")

# Convert tuple into list.
# Using map function convert each string into integer.
# Convert the list returned from map function into tuple
# Print tuple of integers.
print("Tuple of integers : " ,tuple(map(int,list(t28))))

Given tuple of strings : ('1', '2', '3', '4', '5')
Tuple of integers :  (1, 2, 3, 4, 5)

## 30) Merge two tuples.

## Ans 30)

#### Steps :
- Create two tuples.
- Concatenate two tuples using plus operator and store it in another variable.
- Print merged tuple.

In [69]:
# create two tuples
t30_1 = (1,2,3,4,5)
t30_2 = (6,7,8,9,10)

print(f"Given tuples are:\nTuple 1 : {t30_1}\nTuple 2 : {t30_2}")
# concatenate two tuples using plus operator and store it in another variable
merged_tuple = t30_1+t30_2

# print merged tuple
print(f"Merged tuple is : {merged_tuple}")

Given tuples are:
Tuple 1 : (1, 2, 3, 4, 5)
Tuple 2 : (6, 7, 8, 9, 10)
Merged tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## 31) Flatten a nested tuple.

## Ans 31) 

1) Nested tuple : tuple(s) inside a main tuple.
2) How to identify a tuple is a nested tuple?
- - Ans : By using type() function we can identify there is a nested tuple inside the main list or not.
3) How to extract the elements of nested tuple to make the main tuple flatten after identifying a nested tuple?
- - Ans : First create an empty list and start appending all the elements of the main tuple , when your code identify there is a nested tuple, By using the nested loop traverse through the nested tuple and append each element of nested tuple to the empty list.
4) Finally convert empty list into tuple.


#### Steps :
- Take/create a nested tuple.
- Create an empty list to store flatten tuple elements.
- Traverse through the nested tuple and check the type of each element of the tuple.
- If the type of element is integer/premitive then append that element into empty list.
- If the type of any element is tuple, that means there is a nested tuple, now run a nested loop and traverse through each element of that nested tuple and append each element to empty list.
- Convert empty list to tuple
- Print the flatten tuple.

- NOTE: THIS CODE ONLY WORKS FOR SINGLE NESTED tuple, FOR MULTIPLE NESTED TUPLES, WE HAVE TO USE RECURSION FUNCTION.

In [70]:
# Take/create a nested tuple.
t31 = (12,2,3,4,(7,8,10),8)

print(f"Given nested tuple : {t31}")
# Create an empty list to store flatten tuple elements.
flatten_list = []

# Traverse through the nested tuple and check the type of each element of the tuple.
# If the type of element is integer/premitive then append that element into empty list.
# If the type of any element is tuple, that means there is a nested tuple, now run a nested loop and traverse through each element of that nested tuple and append each element to empty list.
for ele in t31:
    if type(ele) == tuple:
        for sub_ele in ele:
            flatten_list.append(sub_ele)
    else:
        flatten_list.append(ele)
        
# Convert empty list to tuple
# Print the flatten tuple.
print(f"Flatten tuple is : {tuple(flatten_list)}")

Given nested tuple : (12, 2, 3, 4, (7, 8, 10), 8)
Flatten tuple is : (12, 2, 3, 4, 7, 8, 10, 8)

In [73]:
## SAME TASK BY USING RECURSION FUNCTION FOR MUPLTIPLE NESTED TUPLES

# Take/create a nested tuple.
recursive_tuple = (12,2,3,4,(7,8,10),8,(12,3,(4,5)))

print(f"Given nested tuple : {recursive_tuple}")
# Create an empty list to store flatten tuple elements.
rough_flatten_list = []

# Create a recursive function that takes a nestes tuple and convert it into flatter tuple.
def flatten(tup):
    for ele in tup:
        if type(ele) == tuple:
            flatten(ele)
        else:
            rough_flatten_list.append(ele)
        
# Call flatten function and pass nested tuple
flatten(recursive_tuple)
print(f"Flatten tuple is : {tuple(rough_flatten_list)}")

Given nested tuple : (12, 2, 3, 4, (7, 8, 10), 8, (12, 3, (4, 5)))
Flatten tuple is : (12, 2, 3, 4, 7, 8, 10, 8, 12, 3, 4, 5)

## 32)  Create a tuple of the first 5 prime numbers.

## Ans 32)

#### Steps:
- Initialise a list of prime numbers by 2.
- Create a range of numbers from 3 to 12 which can cover starting 5 prim numbers.
- For each num divide it by 2 till num-1, to check whether num is prime or not?
- If number is divisible by its any previous number then num is not a prime number else it is and append it. 
- Convert prime number list into tuple and print it.

In [76]:
# Lets initialise a list of prime numbers by 2 that is first prime number.
prime_num_list = [2]

# create a range of numbers from 3 to 12 which can cover starting 5 prim numbers.
# for each num divide it by 2 till num-1, to check whether num is prime or not?
# if number is divisible by its any previous number then num is not a prime number else it is and append it.
for num in range(3,12):
    for i in range(2,num):
        if num%i == 0:
            break
    else:
        prime_num_list.append(num)

# covert list of prime numbers into tuple and print it.
print(f"Tuple of first 5 prime numbers : {tuple(prime_num_list)}")

Tuple of first 5 prime numbers : (2, 3, 5, 7, 11)

## 33) Check if a tuple is a palindrome.

## Ans 33) 

1) Palindrome tuple : A tuple is said to be palindrome if first half of the tuple is same as the reversed of second half of the tuple.

### Steps:
- Create/take a tuple.
- First check the length of the tuple.
- 1) If the length is odd then tuple is not a palindrome.
- 2) If legth is even then executes below steps.
- Divide tuple into two parts i.e t33_1 and t33_2
- Reverse the second half of the list/tuple i.e t33_2.
- Now compare both of the half of tuple.
- If both are same,given tuple is palindrome else not.

In [80]:
# create a tuple
t33 = (1,2,1,1,2,1)

print(f"Given tuple is : {t33}")

# A tuple can be palindrome if its length is even.
if len(t33)%2 == 0:
    t33_1 = list(t33[:len(t33)//2])   # slice tuple form start to middle, convert into list and store it
    t33_2 = list(t33[len(t33)//2:])   # slice tuple from middle to end, convert into list and store it

    t33_2 = t33_2[::-1]               # reverse the second half of the list

    if t33_1 == t33_2:                # compare first half list with second half reversed list.
        print("Given tuple is a palindrome")
    else:
        print("Given tuple is not a palindrome")
else:
    print("Given tuple is not a palindrome")

Given tuple is : (1, 2, 1, 1, 2, 1)
Given tuple is a palindrome

## 34) Create a tuple of squares of numbers from 1 to 5.

## Ans 34)

#### Steps:
- Create an empty list to store squares of numbers from 1 to 5.
- Create a range of numbers from 1 to 5.
- Append square of each number into list.
- Convert the list into tuple and print it

In [83]:
# create an empty list to store squares of numbers from 1 to 5.
t34_list = []

# Create a range of numbers from 1 to 5.
# Append square of each number into list.
for num in range(1,6):
    t34_list.append(num*num)
    
# Convert the list into tuple and print it    
print("Tuple of sqaures of numbers from 1 to 5 : ", tuple(t34_list))

Tuple of sqaures of numbers from 1 to 5 :  (1, 4, 9, 16, 25)

## 35) Filter out all even numbers from a tuple.

## Ans 35)

#### Steps:
- Create a tuple of even and odd numbers.
- Create an empty list to store all even numbers.
- Traverse through tuple and check element is even or not. 
- If element/number is even then append it into empty list.
- Convert the empty list into tuple and print it

In [85]:
# Create a tuple of even and odd numbers.
t35 = (1,2,3,4,5,6,7,8,9,10)

# Create an empty list to store all even numbers.
even_num_list = []

# Traverse through tuple and check element is even or not. 
# If element/number is even then append it into empty list.
for num in t35:
    if num%2 == 0:
        even_num_list.append(num)
# Convert the empty list into tuple and print it   
print(f"Given tuple : {t35}\nTuple of filtered out even numbers : {tuple(even_num_list)}")

Given tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple of filtered out even numbers : (2, 4, 6, 8, 10)

## 36)  Multiply all elements in a tuple by 2

## Ans 36)

#### Steps:
- Create/take a tuple of numbers.
- Convert tuple into list and pass it to map function, and write a lambda function that multiply each element of list by 2.
- Convert back the returned output of map function into tuple and print it.

In [88]:
t36 = (1,2,3,4,5,6,7,8,9,10)
print(f"Given tuple : {t36}")

t36 = tuple(map(lambda x: x*2 ,list(t36)))
print(f"Tuple, after multiplying each element by 2 : {t36}")

Given tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple, after multiplying each element by 2 : (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

## 37) Create a tuple of random numbers.

## Ans 37)

#### Steps:
- Import random module.
- Create an empty list to store 10 random numbers.
- Create a tuple of 10 random numbers in range from 1 to 20 by running the loop 10 times to generate a random number.
- Convert list into tuple and print it

In [91]:
# import random module
import random

# create an empty list to store 10 random numbers.
rand_num = []

# lets create a tuple of 10 random numbers in range from 1 to 20.
for i in range(10):
    rand_num.append(random.randint(1,20))

# convert list into tuple and print it
print("Tuple of 10 random numbers is : ", tuple(rand_num))

Tuple of 10 random numbers is :  (20, 14, 8, 11, 10, 19, 3, 14, 8, 3)

## 38) Check if a tuple is sorted.

## Ans 38) 

#### Steps:
- Create/take a tuple
- Run the loop and compare current element with next element.
- If current element is less than next element(condition for ascending order). if yes check it continuously till end, else print tuple is not sorted. 
- Pack these line of code inside a function and call that function.

In [98]:
# Create/take a tuple
t38 = (1,2,3,5)

# run the loop and compare current element with next element.
# if current element is less than next element(condition for ascending order). if yes check it continuously till end, else print tuple is not sorted. 
def sort_check(tup) :
    for i in range(len(t38)-1):
        if t38[i] > t38[i+1]:
            return print("Given tuple is not sorted in ascending order.")
    else:
        return print("Given tuple is sorted in ascending order.")   
    
sort_check(t38)

Given tuple is sorted in ascending order.

## 39) Rotate a tuple to the left by `n` positions.

## Ans 39)

#### Steps:
- Create a tuple of elements.
- Take the value of n from user to shift the elements by n positions.
- Convert tuple into list.
- Store first element to temp varaible.
- Start shifting the value of list from 2nd element till last.
- Once shifting is done, assign the temp value to last index.
- Repeat the above steps till n times to rotate the elements of list by n position.
- Convert list into tuple and print it.

In [5]:
# Create a tuple of elements.
t40 = (1,2,3,4,5)
print(f"Given tuple : {t40}")

# Convert tuple into list.
t40 = list(t40)

# Take the value of n from user to shift the elements by n positions.
n = int(input("Enter value of n to rotate a tuple by n positions: "))

# if value n (posdition to rotate the elements) is less than len of tuple then rotate it by n times.
# If value of n is greater than len of tuple then take its module division with length of tuple and do the shifting that many number of times.
if n < len(t40):
    for i in range(n):
        temp = t40[0]
        for j in range(1,len(t40)):
            t40[j-1] = t40[j]
            
        t40[-1] = temp
else:
    for i in range(n%len(t40)):
        temp = t40[0]
        for j in range(1,len(t40)):
            t40[j-1] = t40[j]
            
        t40[-1] = temp
        
print(f"Tuple after rotating the elements to the left by {n} position : {tuple(t40)}")

Given tuple : (1, 2, 3, 4, 5)

Enter value of n to rotate a tuple by n positions:  2

Tuple after rotating the elements to the left by 2 position : (3, 4, 5, 1, 2)

## 40) Rotate a tuple to the right by `n` positions.

## Ans 40)

#### Steps:
- Create a tuple of elements.
- Take the value of n from user to shift the elements by n positions.
- Convert tuple into list.
- Store last element to temp varaible.
- Start shifting the value of list from 2nd last element till first element in reverse order.
- Once shifting is done, assign the temp value to first index.
- Repeat the above steps till n times to rotate the elements of list by n position.
- Convert list into tuple and print it.

In [6]:
# Create a tuple of elements.
t40 = (1,2,3,4,5)
print(f"Given tuple : {t40}")

# Convert tuple into list.
t40 = list(t40)

# Take the value of n from user to shift the elements by n positions.
n = int(input("Enter value of n to rotate a tuple by n positions: "))

# if value n (posdition to rotate the elements) is less than len of tuple then rotate it by n times.
# If value of n is greater than len of tuple then take its module division with length of tuple and do the shifting that many number of times.
if n < len(t40):
    for i in range(n):
        temp = t40[-1]
        for j in reversed(range(len(t40)-1)):
            t40[j+1] = t40[j]
            
        t40[0] = temp
else:
    for i in range(n%len(t40)):
        temp = t40[0]
        for j in reversed(range(len(t40)-1)):
            t40[j+1] = t40[j]
            
        t40[0] = temp
        
print(f"Tuple after rotating the elements to the right by {n} position : {tuple(t40)}")

Given tuple : (1, 2, 3, 4, 5)

Enter value of n to rotate a tuple by n positions:  1

Tuple after rotating the elements to the right by 1 position : (5, 1, 2, 3, 4)

## 41) Create a tuple of the first 5 Fibonacci numbers.

## Ans 41) 

1) Fibonacci Number => F(n) = F(n-1) + F(n-2)

#### Steps:
- Inittialse a fibonacci series with 0 and 1 (base cases).
- Run the from 2 to 5 to generate next 3 numbers of fibonacci series.
- Use fibonacci number formula and find next number and append it the list
- Convert list into tuple and print it

In [12]:
# inittialse a fibonacci series with 0 and 1 (base cases).
fibbo_series = [0,1]

# Run the from 2 to 5 to generate next 3 numbers of fibonacci series.
# Use fibonacci number formula and find next number and append it the list
for i in range(2,5):
    fibbo_series.append(fibbo_series[i-1] + fibbo_series[i-2])
    
# convert list into tuple and print it
print(f"Tuple of first 5 fibonacci number : {tuple(fibbo_series)}")

Tuple of first 5 fibonacci number : (0, 1, 1, 2, 3)

## 42) Create a tuple from user input.

## Ans 42) 

#### Steps:
- Take values from users using input function by displaying a message "Enter the values of tuple separated by space : " and store it into a varaible.
- Using split function, convert strings into list of string.
- Using map function convert this list of string into list of integers by passing int function to map() function.
- Finally Convert the list of intergers returned from map function into tuple and print it.

In [10]:
# take input form user and store it into a variable.
input_values = input("Enter the values of tuple separated by space : ")

# convert input(string) into list of string, then convert list of string into list of integers then convert
# list into tuple and print it
print(f"Created tuple is : {tuple(map(int,input_values.split()))}")

Enter the values of tuple separated by space :  10 20 30 40

Created tuple is : (10, 20, 30, 40)

## 43) Swap two elements in a tuple.

## Ans 43)

#### Steps:
- Create/take a tuple of elements.
- Convert tuple into list.
- Lets Swap the first and last element by their indices using comma operator.
- Convert back list into tuple and Print the swaped tuple.

In [2]:
# Create/take a tuple of elements.
t43 = (1,2,3,4)
print(f"Given tuple : {t43}")

# convert tuple into list.
t43 = list(t43)

# swap the first and last elements by their indices using comma operator
t43[0],t43[-1] = t43[-1],t43[0]

# Convert back list into tuple and Print the swaped tuple.
print(f"Tuple after swaping 1st and last element : {tuple(t43)}")

Given tuple : (1, 2, 3, 4)
Tuple after swaping 1st and last element : (4, 2, 3, 1)

## 44) Reverse the elements of a tuple.

## Ans 44)

#### Steps :
- Create/take a tuple.
- Use built-in reversed() function to reverse the elements of tuple.
- Reversed function Internally convert tuple into list and then reverse its element and return list of reversed element. So we have to convert its output into tuple to get the element in tuple data type.
- Print the final reversed tuple.

In [4]:
# create/take a list.
t44 = (4,5,6,7,8)
print(f"Given tuple : {t44} ")

# Use reversed() function to reversed the elements of list and append each element to new list.    
print(f"Reversed Tuple : {tuple(reversed(t44))}")

Given tuple : (4, 5, 6, 7, 8)
Reversed Tuple : (8, 7, 6, 5, 4)

## 45) Create a tuple of the first `n` powers of 2.

## Ans 45)

#### Steps:
- Take a value of n from user.
- Create an empty list to store power of 2s.
- Run the loop n times to calculate the first n power of 2 and append each value to empty list.
- Convert empty list into tuple 
- Print the tuple of first n powers of 2.

In [5]:
# Take a value of n from user
n = int(input("Enter the value of n : "))

# Create an empty list to store power of 2s.
t45_empty = []

# run the loop n times to calculate the n power of 2 and append each value to empty list.
for i in range(n):
    t45_empty.append(2**i)

# print the list
print(f"Tuple of powers of 2 : {tuple(t45_empty)}")

Enter the value of n :  5

Tuple of powers of 2 : (1, 2, 4, 8, 16)

## 46) Find the longest string in a tuple of strings.

## Ans 46)

#### Steps:
- Create a tuple of words/strings.
- Initialse a max_len variable by 0 and max_len_word by empty string.
- Traverse through the tuple of words/string.
- Update max_len and max_len_word, if current length of word is greater than previous word.
- Print the longest string/word.

In [7]:
# create a tuple of strings
t46 = ('You','are','very','beautifull','guy')

max_len = 0
max_len_word = ''
for word in t46:
    if len(word) > max_len:
        max_len = len(word)
        max_len_word = word


print(f"Given tuple of strings is : {t46} \nLongest string in given tuple of strings is : {max_len_word} ")

Given tuple of strings is : ('You', 'are', 'very', 'beautifull', 'guy')
Longest string in given tuple of strings is : beautifull

## 47) Find the shortest string in a tuple of strings.

## Ans 47)

#### Steps:
- Create a tuple of words/strings.
- Initialse a min_len variable by very high value and min_len_word by empty string.
- Traverse through the tuple of words/string.
- Update min_len and min_len_word, if current length of word is less than previous word.
- Print the shortest string/word.

In [8]:
# create a tuple of strings
t47 = ['You','are','very','beautifull','guy']

min_len = 99999
min_len_word = ''
for word in t47:
    if len(word) < min_len :
        min_len = len(word)
        min_len_word = word


print(f"Given tuple of strings is : {t47} \nLongest string in given tuple of strings is : {min_len_word} ")

Given tuple of strings is : ['You', 'are', 'very', 'beautifull', 'guy']
Longest string in given tuple of strings is : You

## 48) Create a tuple of the first `n` triangular numbers.

## Ans 48)

1) Triangular series : 1,3,6,10,15,21,....
2) Formula : Tn = n(n+1)/2   ; gives the nth triangular term/number.

#### Steps:
- Take value of n from the user.
- Generate n triangular numbers list by using formula.
- Append each triangular number to empty list.
- Convert empty list into tuple and print it.

In [11]:
# Take value of n from the user.
n = int(input("Enter value of n : "))

# create an empty list to store triangular numbers.
t48_triangular_list = []

# Generate n triangular numbers list by using formula.
# Append each triangular number to empty list.
for i in range(1,n+1):
    Ti = int(i*(i+1)/2)
    t48_triangular_list.append(Ti)
    
# Convert empty list into tuple and print it.
print(f"Tuple of {n} triangular numbers : {tuple(t48_triangular_list)} ")

Enter value of n :  7

Tuple of 7 triangular numbers : (1, 3, 6, 10, 15, 21, 28)

## 49) Check if a tuple contains another tuple as a subsequence.

## Ans 49)

#### Steps:
- Create/Take two tuples.
- 1) Main tuple : In which subsequence to be search.
- 2) Subsequence tuple : tuple to be seach in main tuple.
- First of all search the 1st element of subsequence into main tuple, If 1st element exists in main list then only we will check other elements otherwise return/print main tuple does not contain another tuple as a subsequence.
- If 1st element present in main tuple then find the index at which position the element is.
- Once index is found we can slice the main tuple from that index, till length of subsequence.
- If sliced tuple and another tuple are equal that means main tuple contains another tuple as a subsequence else main tuple does not contain another tuple as a subsequence.

In [13]:
t49_1= (1,2,3,4,5)
t49_2 = (2,5)

def subsequence(main_tuple,search_sequence):
    for ele in search_sequence:
        if ele not in main_tuple:
            return print(f"Tuple doesn't contain another tuple as a subsequence.")
        else:
            for idx, element in enumerate(main_tuple):
                if element == search_sequence[0]:
                    if main_tuple[idx:idx+len(search_sequence)] == search_sequence[0:len(search_sequence)]:
                        return print(f"Tuple contains another tuple as a subsequence.")
                    else:
                        return print(f"Tuple doesn't contain another Tuple as a subsequence.")

                    
print(f"Given Tuple : {t49_1}\nAnother Tuple : {t49_2} ")                    
subsequence(t49_1, t49_2)

Given Tuple : (1, 2, 3, 4, 5)
Another Tuple : (2, 5)
Tuple doesn't contain another Tuple as a subsequence.

## 50) Create a tuple of alternating 1s and 0s of length `n`.

## Ans 50)

#### Steps:
- Create an empty list to store alternating 1s and 0s.
- Take a value of n from user to create a tuple of alternating 1s and 0s of length n.
- Run the loop n times.
- In start list will be empty so start appending by 1.
- If previous element in list is 1 then append next element as 0.
- Convert list of 1s and 0s into tuple and print it.

In [17]:
# Create an empty list to store alternating 1s and 0s.
t50 = []

# take value of n form user.
n = int(input("Enter value of n to create a tuple of alternating 1s and 0s : "))

# run the loop n times.
for i in range(n):
    if len(t50) == 0 or t50[i-1] == 0:    # In start list will be empty so start appending by 1
        t50.append(1)
    else:                                 # if previous element in list if 1 then append next element as 0
        t50.append(0)
        
# convert list of 1s and 0s into tuple and print it
print(f"{tuple(t50)}")

Enter value of n to create a tuple of alternating 1s and 0s :  10

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

# ------------------ TOPIC : Set Based Assignment Problem --------------------

## 1) Create a set with integers from 1 to 5.

## Ans 1)

#### Steps:
- To create a set with intergers from 1 to 5, inside a pair braces write all the value from 1 to 5 seperated by comma.

In [1]:
s1 = {1,2,3,4,5}

print(f"A set with intergers from 1 to 5 : {s1}")

A set with intergers from 1 to 5 : {1, 2, 3, 4, 5}

## 2) Add an element to a set.

## Ans 2)

#### Steps:
- Createa a set with elements.
- Using add() function of set add an element to a set.
- Print the final set

In [3]:
# Createa a set with elements
s2 = {1,2,3,4,5}
print(f"Set before adding an element : {s2}")

# using add() function of set add an element to a set
s2.add('added element')

# print the final set
print(f"Set after adding an element : {s2}")

Set before adding an element : {1, 2, 3, 4, 5}
Set after adding an element : {1, 2, 3, 4, 5, 'added element'}

## 3) Remove an element from a set.

## Ans 3)

#### Steps:
- Createa a set with elements.
- Using remove() function of set remove an element from a set.
- 1) remove() function takes an element that is to be remove from set.
- 2) remove() function removes the given element from the set if it exists else it throughs error.
- Print the set after removing an element.

In [12]:
# Createa a set with elements.
s3 = {12,10,30,50}
print(f"Given set : {s3}")

# Using remove() function of set remove an element from a set.
s3.remove(10)

print(f"Set after removing an element from it : {s3}")

Given set : {10, 12, 50, 30}
Set after removing an element from it : {12, 50, 30}

## 4) Check if an element exists in a set.

## Ans 4)

#### Steps :
- create/take a list.
- Take an element from user to search in set.
- By using 'in' operator search an element exists in a set or not.
- If elements exists print element exists in a set else print element does not exist in a set.

In [17]:
# Create/take a set.
s4 = {1,2,3,4,5,6}
print(f"Set : {s4}")

#Take an element from user to search in set.
ele = int(input("Enter an element to check wether it exists in a set or not : "))

# By using 'in' operator search an element exists in a set or not.
# If elements exists print element exists in a set else print element does not exist in a set.
if ele in s4:
    print(f"{ele} exists in given set : {s4}")
else:
    print(f"{ele} does not exist in given set : {s4}")

Set : {1, 2, 3, 4, 5, 6}

Enter an element to check wether it exists in a set or not :  5

5 exists in given set : {1, 2, 3, 4, 5, 6}

## 5) Find the length of a set without using the `len()` function.

## Ans 5)

#### Steps :
- Create/take a set.
- Initialise a counter with 0, that will count the number of elements in set.
- Traverse through the set.
- Increase the counter by 1 for each element of the set.
- Display the length i.e counter value.

In [20]:
# create/take a set.
s5 = {1,2,3,4,5,6,7,8,9,10}

# Initialise a counter with 0, that will count the number of elements in set.
set_counter = 0

# Traverse through the set.
# Increase the counter by 1 for each element of the set.
for ele in s5:
    set_counter += 1
    
# Display the length i.e counter value. 
print(f"Given set : {s5}\nLength of set is : {set_counter} ")

Given set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Length of set is : 10

## 6) Clear all elements from a set.

## Ans 6)

#### Steps:
- Create/take a set of elements
- Use clear() function to remove all element from the set.
- print set after removing all element form it.

In [22]:
# create/take a set of elements
s6 = {1,2,3,4,5,6,7,8,9}

print(f"Given set : {s6} ")
# Use clear() function to remove all element of the set.
s6.clear()

# print set after removing all element form it
print(f"Set after removing all elemnts : {s6} ")

Given set : {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set after removing all elemnts : set()

## 7) Create a set of even numbers from 1 to 10.

## Ans 7)

#### Steps:
- Create an empty set to store all even numbers from 1 to 20 using set() function.
- Generate a sequence of even numbers from 1 to 20 by using range() function.
- In range() function, start from 2, take a positive jump of 2 till 21.
- Add each number generated from range() function into empty set.
- Print the set of even numbers from 1 to 20.

In [25]:
# Create an empty set
s7 = set()

# Generate a sequence of numbers using range() function and add each generated even number into set
# To get only even numbers, start from 2 till 20 and take a jump of 2
for i in range(2,21,2):
    s7.add(i)
    
# print set of even numbers
print(f"Set of even numbers from 1 to 20 : {s7} ")

Set of even numbers from 1 to 20 : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

## 8) Create a set of odd numbers from 1 to 10.

## Ans 8)

#### Steps:
- Create an empty set to store all odd numbers from 1 to 20.
- Generate a sequence of odd numbers from 1 to 20 by using range() function.
- In range() function, start from 1, take a positive jump of 2 till 21.
- Add each number generated from range() function into set.
- Print the set of odd numbers from 1 to 20.

In [26]:
# Create an empty set
s8 = set()

# Generate a sequence of numbers using range() function and append each generated odd number into set
# To get only odd numbers, start from 1 till 20 and take a jump of 2
for i in range(1,21,2):
    s8.add(i)
    
# print set of even numbers
print(f"Set of odd numbers from 1 to 20 : {s8} ")

Set of odd numbers from 1 to 20 : {1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

## 9) Find the union of two sets.

## Ans 9) 

1) Union of two set : Union of two set is a set contains the elements which are present in either set 1 or in set 2.

#### Steps:
- Create/take two sets.
- Using set's union() function find the union of two sets and print the final set.

In [30]:
# create/take two sets
s9_1 = {1,2,3,4,5,6}
s9_2 = {5,6,7}

print(f"Set 1 : {s9_1}\nSet 2 : {s9_2}\nUnion of two given sets is : {s9_1.union(s9_2)}")

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {5, 6, 7}
Union of two given sets is : {1, 2, 3, 4, 5, 6, 7}

## 10) Find the intersection of two sets.

## Ans 10) 

1) Intersection of two set : Intersection of two set is a set contains the elements which are present in both the sets i.e set 1 and set 2.

#### Steps:
- Create/take two sets.
- Using set's intersection() function find the intersection/common of two sets and print the final set.

In [31]:
# Create/take two sets.
s10_1 = {1,2,3,4,5,6}
s10_2 = {5,6,7}

# Using set's intersection() function find the intersection/common of two sets and print the final set. # 
print(f"Set 1 : {s10_1}\nSet 2 : {s10_2}\nIntersection of two given sets is : {s10_1.intersection(s10_2)}")

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {5, 6, 7}
Intersection of two given sets is : {5, 6}

## 11) Find the difference between two sets.

## Ans 11) 

1) Difference between two sets : Let two sets A = {1,2,3,4,5} and B = {3,4,5,6,7,8}.
- 1) Difference between A and B : A-B = {6,7,8} ; it returns a set containing values which are not in set B.
- - In short : A-B returns a set of elements of A which are not in set B.
- 2) Difference between B and A : B-A = {1,2} ; it returns a set containing values which are not in set A.
- - In short : B-A returns a set of elements of B which are not in set A.
- Note: Difference between two sets is used to find the values of a set which are not present in another set.


#### Steps:
- Create/take two sets.
- Using set's difference() function find the difference between two sets and print the final set.

In [35]:
# Create/take two sets.
s11_1 = {1,2,3,4,5}
s11_2 = {3,4,5,6,7,8}

print(f"Given sets: \nSet 1 : {s11_1}\nSet 2 : {s11_2}")
# Using set's difference() function find the difference between two sets and print the final set. 
print(f"Difference between set 1 and set 2 is : {s11_1.difference(s11_2)}")

Given sets:
Set 1 : {1, 2, 3, 4, 5}
Set 2 : {3, 4, 5, 6, 7, 8}
Difference between set 1 and set 2 is : {1, 2}

## 12) Check if a set is a subset of another set.

## Ans 12) 

#### Steps:
- Create/take two sets.
- Using set's issubset() function, check whether another set is a subset of main set or not.
- issubset() return True if another set is a subset of main set else return False.

In [39]:
# Create/take two sets.
s12_1 = {1,2,3,4,5}
s12_2 = {3,4}

print(f"Given sets:\nSet 1 : {s12_1}\nSet 2 : {s12_2}")
if s12_2.issubset(s12_1):
    print(f"Set 2 : {s12_2} is a subset of Set 1 : {s12_1}")
else:
    print(f"Set 2 : {s12_2} is not a subset of Set 1 : {s12_1}")

Given sets:
Set 1 : {1, 2, 3, 4, 5}
Set 2 : {3, 4}
Set 2 : {3, 4} is a subset of Set 1 : {1, 2, 3, 4, 5}

## 13) Check if a set is a superset of another set.

## Ans 13) 

#### Steps:
- Create/take two sets.
- Using set's issubset() function, check whether another set is a subset of main set or not.
- issubset() return True if another set is a subset of main set else return False.

In [42]:
# Create/take two sets.
s13_1 = {1,2,3,4,5}
s13_2 = {3,4,8}

print(f"Given sets:\nSet 1 : {s13_1}\nSet 2 : {s13_2}")
if s13_1.issuperset(s13_2):
    print(f"Set 1 : {s13_1} is a superset of Set 2 : {s13_2}")
else:
    print(f"Set 1 : {s13_1} is not a superset of Set 2 : {s13_2}")

Given sets:
Set 1 : {1, 2, 3, 4, 5}
Set 2 : {8, 3, 4}
Set 1 : {1, 2, 3, 4, 5} is not a superset of Set 2 : {8, 3, 4}

## 14) Create a set from a list.

## Ans 14) 

#### Steps:
- Create/take a list.
- Convert list into set using function set().
- Print the converted set.

In [43]:
# Create/take a list.
s14 = [1,2,3,4,5,6]
print(f"Given list : {s14}")

# Convert list into set using function set().
# Print the converted set.
print(f"Converted Set : {set(s14)}")

Given list : [1, 2, 3, 4, 5, 6]
Converted Set : {1, 2, 3, 4, 5, 6}

## 15) Convert a set to a list.

## Ans 15) 

#### Steps:
- Create/take a set of elements.
- Convert set into list using function list().
- Print the converted list.

In [44]:
# Create/take a set of elements.
s15 = {1,2,3,6,4}
print(f"Given set : {s15}")

# Convert set into list using function list().
# Print the converted list.
print(f"Converted list : {list(s15)}")

Given set : {1, 2, 3, 4, 6}
Converted list : [1, 2, 3, 4, 6]

## 16) Remove a random element from a set.

## Ans 16) 

1) To remove an element we can use remove or discard function. But to remove a random element we have to use pop() function that returns/remove random element from a set and raise error if set is empty.
- Note: We know that set is unordered collection of data therefore pop() function remove any random element from a set.

#### Steps:
- Create/take a set of elements.
- Remove a random element from a set by using pop() function.
- Print a set after removing element.

In [52]:
# Create/take a set of elements.
s16 = {1,2,'data',6,4.0}
print(f"Given set : {s16}")

# Remove a random element from a set by using pop() function.
s16.pop()

# Print a set after removing element.
print(f"Set after removing random element : {s16}")

Given set : {1, 2, 'data', 4.0, 6}
Set after removing random element : {2, 'data', 4.0, 6}

## 17) Pop an element from a set.

## Ans 17) 

1) pop() function returns/remove random element from a set and raise error if set is empty.

#### Steps:
- Create/take a set of elements.
- pop an element from a set by using pop() function and print that element.

In [54]:
# Create/take a set of elements.
s16 = {1,2,'data',6,4.0}
print(f"Given set : {s16}")

# Remove a random element from a set by using pop() function.
# Print a set after removing element.
print(f"Poped element from set : {s16.pop()}")

Given set : {1, 2, 'data', 4.0, 6}
Poped element from set : 1

## 18) Check if two sets have no elements in common.

## Ans 18) 

1) We can check is there any common element in two sets or not by using intersection fucntion. How?
2) If intersection function returns empty set that means there is no common element in both sets else there is/are common element(s) in both sets.

#### Steps:
- Create/take two sets.
- Using set's intersection() function find the intersection/common of two sets 
- If there is no common element in both sets then print "no common element in both sets" else print "there is/are common element(s) in both sets".

In [59]:
# Create/take two sets.
s18_1 = {1,2,3,4,5,6}
s18_2 = {7,8}

print(f"Given sets:\nSet 1 : {s18_1}\nSet 2 : {s18_2}")
# Using set's intersection() function find the intersection/common of two sets
# If there is no common element in both sets then print "no common element in both sets" else print "there is/are common element(s) in both sets".
if len(s18_1.intersection(s18_2)) > 0 :
    print("There is/are common element(s) in both sets")
    
else:
    print("There is no common element in both sets")

Given sets:
Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {8, 7}
There is no common element in both sets

## 19) Find the symmetric difference between two sets.

## Ans 19)

1) Symmetric diffrence between two sets : Difference between their union and intersection.
- Formula  => Symmetric difference between A and B = (A union B) - (A intersection B)

#### Steps:
- Create/take two sets of elments.
- Find the symmetric difference between two sets using symmetric difference formula.
- Print the symmetric difference.

In [17]:
# Create/take two sets of elments.
s19_1 = {1,2,3}
s19_2 = {3,4,5}
print(f"Given sets : \nSet 1 : {s19_1}\nSet 2 : {s19_2}")

# Find the symmetric difference between two sets using symmetric difference formula.
# Print the symmetric difference.
print(f"Symmetric difference is : {s19_1.union(s19_2).difference(s19_1.intersection(s19_2))}")

Given sets :
Set 1 : {1, 2, 3}
Set 2 : {3, 4, 5}
Symmetric difference is : {1, 2, 4, 5}

## 20)  Update a set with elements from another set.

## Ans 20)

1) By using Update() method we can update a set with elements from another set.
2) update() method adds the elements of other set into a set.

#### Steps:
- Create/take two sets of elments.
- Using update() function update the first set with another set's element.
- Print the first update set.

In [23]:
# Create/take two sets of elments.
s20_1 = {1,2,3}
s20_2 = {3,4,5}
print(f"Given sets : \nSet 1 : {s20_1}\nSet 2 : {s20_2}")

# Using update() function update the first set with another set's element.
s20_1.update(s20_2)

# Print the first update set.
print(f"Updated set : {s20_1}")

Given sets :
Set 1 : {1, 2, 3}
Set 2 : {3, 4, 5}
Updated set : {1, 2, 3, 4, 5}

## 21)  Create a set of the first 5 prime numbers.

## Ans 21)

#### Steps:
- Create an empty set to store prime numbers
- Run the loop from 2 to 51 to generate first 5 prime numbers
- Check whether number is prime or not.
- If number is prime then add it to empty set.
- Print the set of prime numbers

In [10]:
# create an empty set to store prime numbers
s21 = set()

# Run the loop from 2 to 51 to generate prime numbers
# check whether number is prime or not.
# if number is prime then append it.
for i in range(2,51):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        s21.add(i)
    
# print the set of prime numbers
print(f"Set of first 5 prime numbers : {s21} ")

Set of first 5 prime numbers : {2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}

## 22)  Check if two sets are identical.

## Ans 22)

#### Steps :
- Create/Take two sets.
- Using equal operator '==' compare both the sets.
- Print Both sets are identical if condition is true else both are not identical.

In [13]:
# create/Take two tuples.
s22_1 = {1,2,3}
s22_2 = {1,2,3}

print(f"Given Sets:\nSet 1 : {s22_1}\nSet 2 : {s22_2}")

# Using equal operator '==' compare both sets.
# Print Both sets are identical if condition is true else both are not identical.
if s22_1 == s22_2 :
    print("Given sets are identical.")
else:
    print("Given sets are not identical.")

Given Sets:
Set 1 : {1, 2, 3}
Set 2 : {1, 2, 3}
Given sets are identical.

## 23) Create a frozen set.

## Ans 23)

- A frozenset() function returns a frozenset object of the iterable passed to it.
- The frozenset object is an immutable, unordered, set-like data type.
- We can't assign items to a frozenset as it is an immutable data type (which can't be modified).
- We can perform different set operations like "copy", "difference", "union", "intersection", and "symmetric_difference" on frozenset objects. 

#### Steps:
- Create a list/set/string/tuple/dictionary.
- Pass to frozenset() function , it return frozenset object.

In [37]:
# Create a list/set/string/tuple/dictionary.
s23 = [1,2,3,4]   # lets create a list of elements and pass it to frozenset() function.

print(f"Created frozenset from list : {frozenset(s23)}")

Created frozenset from list : frozenset({1, 2, 3, 4})

## 24) Check if a set is disjoint with another set.

## Ans 24)

1) Disjoint means there is no common element between two sets or if the intersection between two sets is null/empty we say set is disjoint with another set.

#### Steps:
- Create/take two sets of elements.
- By using isdisjoint() function of set, check whether a set is disjoint with another set or not.

In [40]:
s24_1 = {1,2,3,4,5}
s24_2 = {6,7,8,9,10}

print(f"Given sets : \nSet 1 : {s24_1}\nSet 2 : {s24_2}")
if s24_1.isdisjoint(s24_2):
    print("Set is disjoint with another set.")
else:
    print("Set is not disjoint with another set.")

Given sets :
Set 1 : {1, 2, 3, 4, 5}
Set 2 : {6, 7, 8, 9, 10}
Set is disjoint with another set.

## 25) Create a set of squares of numbers from 1 to 5.

## Ans 25)

#### Steps:
- Create an empty set to store squares of numbers from 1 to 5.
- Create a range of numbers from 1 to 5.
- Add square of each number into set.
- Print it.

In [21]:
# create an empty Set to store squares of numbers from 1 to 5.
s25 = set()

# Create a range of numbers from 1 to 5.
# Add square of each number into Set.
for num in range(1,6):
    s25.add(num*num)
    
# print it    
print(f"Set of sqaures of numbers from 1 to 5 : {s25}")

Set of sqaures of numbers from 1 to 5 : {1, 4, 9, 16, 25}

## 26) Filter out all even numbers from a set.

## Ans 26)

#### Steps:
- Create a set of even and odd numbers.
- Create an empty set to store all even numbers.
- Traverse through set and check element is even or not. 
- If element/number is even then append it into empty list.
- Print set of all even numbers.

In [22]:
# Create a set of even and odd numbers.
s26 = {1,2,3,4,5,6,7,8,9,10}

# Create an empty set to store all even numbers.
even_num_set = set()

# Traverse through set and check element is even or not. 
# If element/number is even then append it into empty set.
for num in s26:
    if num%2 == 0:
        even_num_set.add(num)
# print it   
print(f"Given tuple : {s26}\nTuple of filtered out even numbers : {even_num_set}")

Given tuple : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Tuple of filtered out even numbers : {2, 4, 6, 8, 10}

## 27) Multiply all elements in a set by 2.

## Ans 27)

#### Steps:
- Create/take a set of numbers.
- Pass it to map function, and write a lambda function that multiply each element of set by 2.
- Convert back the returned output of map function into set and print it.

In [24]:
s27 = {1,2,3,4,5,6,7,8,9,10}
print(f"Given set : {s27}")

s27 = set(map(lambda x: x*2 ,s27))
print(f"Set, after multiplying each element by 2 : {s27}")

Given set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set, after multiplying each element by 2 : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

## 28) Create a set of random numbers

## Ans 28)

#### Steps:
- Import random module to generate a random number from given range.
- Create an empty set to store random generated numbers.
- Lets create a set of 10 random numbers by running the loop 10 times.
- Add each randome generated number to the set.
- Print the random generated set.

In [28]:
import random
# lets generate a sequence of 10 random numbers
s28 = set()

# run the loop 10 times
for i in range(10):
    s28.add(random.randrange(1,20))
    
print(f"Set of 10 random numbers : {s28} ")

Set of 10 random numbers : {3, 4, 6, 12, 14, 15, 17, 18}

## 29) Check if a set is empty.

## Ans 29)

#### Steps:
- Using len() function we can check if a set is empty or not.
- If length of a set is zero that means set is empty else not.

In [2]:
# Create/taks a set
s29 = {1,2,3,4}

if len(s29) > 0:
    print(f"Given set : {s29} is not empty")
else:
    print(f"Given set : {s29} is empty")

Given set : {1, 2, 3, 4} is not empty

## 30) Create a nested set (hint: use frozenset).

## Ans 30)

1) Nested set : When there is/are set(s) inside a main set then main set is called as 'Nested set'.
2) Note: A Set can not contain mutable values like list,set. It can contain tuple or frozenset.

#### Steps :
- Create/take a set using pair of parentheses and call frozenset function and pass a set to it.
- In this way we create a nested set.

In [13]:
s30 = {frozenset({7,8})}

print(f"Nested set : {s30}")

Nested set : {frozenset({8, 7})}

## 31) Remove an element from a set using the discard method.

## Ans 31)

1) Discard() function removes a given element from a set if exists else ignore and doesn't through error.

#### Steps:
- Create/take a set of elements.
- By using discard function pass an element that is to be remove from set.
- Print set after removing the element.

In [4]:
# Create/take a set of elements.
s31 = {1,2,3,4,5}

print(f"Given set : {s31}")
# By using discard function pass an element that is to be remove from set.
s31.discard(3)

# Print set after removing the element.
print(f"Set after removing en element : {s31}")

Given set : {1, 2, 3, 4, 5}
Set after removing en element : {1, 2, 4, 5}

## 32) Compare two sets.

## Ans 32)

1) We can perform different comparison task on two sets.
2) For ex- Check whether two sets are equal to each other or not ?
3) For ex- Check whether a set is greater/lesser than other set ? 

#### Steps :
- Lets Check whether two sets are equal to each other or not?
- create/Take two sets.
- Using equal operator '==' compare both sets.
- Print Both are equal if condition is true else both are not equal.

In [6]:
# Lets Check whether two sets are equal to each other or not?
# create/Take two sets.
s32_1 = {1,2,3}
s32_2 = {1,0,3}

print(f"Given sets:\nSet 1 : {s32_1}\nSet 2 : {s32_2}")
# Using equal operator '==' compare both sets.
# Print Both are equal if condition is true else both are not equal.
if s32_1 == s32_2 :
    print("Given sets are equal.")
else:
    print("Given sets are not equal.")

Given sets:
Set 1 : {1, 2, 3}
Set 2 : {0, 1, 3}
Given sets are not equal.

## 33) Create a set from a string.

## Ans 33)

#### Steps:
- create/take a string.
- Convert string of characters into set of characters by typecaste it.
- Print the converted set of characters.

In [11]:
# create/take string
s33 = 'datascience'
print(f"Given string : {s33}")

print(f"Created set from given string : {set(s33)}")

Given string : datascience
Created set from given string : {'a', 'i', 'e', 'c', 'n', 's', 'd', 't'}

## 34) Convert a set of strings to a set of integers.

## Ans 34)

#### Steps:
- create/take a set of strings.
- Convert set of strings into set of integers by Using map function, pass set of strings to it and pass integer function to it.
- Print the converted set of integers.

In [12]:
# Create/take a set of strings
s34 = {'1','2','3','4'}
print(f"Set of strings : {s34}")

# Using map function, pass set of strings to it and pass integer function to it.
print(f"Set of intergers : {set(map(int,s34))}")

{1, 2, 3, 4}

## 35) Convert a set of integers to a set of strings.

## Ans 35)

#### Steps:
-  Create/take a set of integers.
- Convert set of integers into set of strings by Using map function, pass set of integers to it and pass str function to it.
- Print the converted set of strings.

In [13]:
# Create/take a set of integers
s35 = {1, 2, 3, 4}
print(f"Set of integers : {s35}")

# Using map function, pass set of integers to it and pass strings function to it.
print(f"Set of strings : {set(map(str,s35))}")

Set of integers : {1, 2, 3, 4}
Set of strings : {'4', '3', '1', '2'}

## 36) Create a set from a tuple.

## Ans 36)

#### Steps:
- Create/take a tuple of elments.
- Convert tuple into set by type caste it.
- Print the converted set of elements.

In [14]:
# Create/take a tuple of elments.
s36 = (1,2,3,4,5)
print(f"Given tuple : {s36}")

# Convert tuple into set by type caste it.
# Print the converted set of elements.
print(f"Created set from given tuple : {set(s36)}")

Given tuple : (1, 2, 3, 4, 5)
Created set from given tuple : {1, 2, 3, 4, 5}

## 37) Convert a set to a tuple

## Ans 37)

#### Steps:
- Create/take a set of elments.
- Convert set into tuple by type caste it.
- Print the converted tuple of elements.

In [15]:
# Create/take a set of elments.
s37 = {1, 2, 3, 4, 5}
print(f"Given set : {s37}")

# Convert set into tuple by type caste it.
# Print the converted tuple of elements.
print(f"Created tuple from given set : {tuple(s37)}")

Given set : {1, 2, 3, 4, 5}
Created tuple from given set : (1, 2, 3, 4, 5)

## 38) Find the maximum value in a set.

## Ans 38)

#### Steps :
- create/Take a set of elements.
- Using max() function find the max value in a set and print it.

In [25]:
# create/Take a set.
s38 = {10,20,30,40,50}

# Using max() function find the max value in a set and print it.
print(f"Given set : {s38}\nMaximum element in set is : {max(s38)}")

Given set : {50, 20, 40, 10, 30}
Maximum element in set is : 50

## 39) Find the minimum value in a set.

## Ans 39)

#### Steps :
- create/Take a set of elements.
- Using min() function find the min value in a set and print it.

In [26]:
# create/Take a set.
s39 = {10,20,30,40,50}

# Using min() function find the min value in a set and print it.
print(f"Given set : {s39}\nMinimum element in set is : {min(s39)}")

Given set : {50, 20, 40, 10, 30}
Minimum element in set is : 10

## 40) Create a set from user input.

## Ans 40) 

#### Steps:
- Take values from users using input function by displaying a message "Enter the values of set separated by space : " and store it into a varaible.
- Using split function, convert strings into list of string.
- Using map function convert this list of string into list of integers by passing int function to map() function.
- Finally Convert the list of intergers returned from map function into set and print it.

In [27]:
# take input form user and store it into a variable.
input_set_values = input("Enter the values of set separated by space : ")

# convert input(string) into list of string, then convert list of string into list of integers then convert
# list into set and print it
print(f"Created set is : {set(map(int,input_set_values.split()))}")

Enter the values of set separated by space :  1 2 3 4 5 6

Created set is : {1, 2, 3, 4, 5, 6}

## 41) Check if the intersection of two sets is empty.

## Ans 41) 

#### Steps:
- Create/take two sets.
- Using set's intersection() function find the intersection/common of two sets.
- If there is no common element (that means intersection is empty) in both sets then print "Intersection of given sets is empty" else print "Intersection of given sets is not empty".

In [61]:
# Create/take two sets.
s41_1 = {1,2,3,4,5,6}
s41_2 = {7,8}

print(f"Given sets:\nSet 1 : {s41_1}\nSet 2 : {s41_2}")
# Using set's intersection() function find the intersection/common of two sets
# If there is no common element (that means intersection is empty) in both sets then print 
# "Intersection of given sets is empty" else print "Intersection of given sets is not empty".
if len(s41_1.intersection(s41_2)) > 0 :
    print("Intersection of given sets is not empty")
    
else:
    print("Intersection of given sets is empty")

Given sets:
Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {8, 7}
Intersection of given sets is empty

## 42) Create a set of the first 5 Fibonacci numbers.

## Ans 42)

1) Fibonacci series formula : F(n) = F(n-1) + F(n-2)

#### Steps :
- Initialise a fibonacci series list by first two numbers 0 and 1.
- Generate a fibonacci series of 10 numbers using fibonacci formula and append next generated element to list.
- Convert the list into set and Print the final fibonaccci series of 10 numbers.

In [64]:
# Initialise a fibonacci series by first two numbers 0 and 1.
s42 = [0,1]

# Generate a fibonacci series of 10 numbers using fibonacci formula and append next generated element to list.
for i in range(2,6):
    s42.append(s42[i-1] + s42[i-2])
    
# print the final fibonaccci series of 10 numbers.
print(f"Set of 10 fibonacci numbers is : {set(s42)} ")

Set of 10 fibonacci numbers is : {0, 1, 2, 3, 5}

## 43) Remove duplicates from a list using sets.

## Ans 43)

#### Steps:
- Take/Create a list of duplicate elements.
- Convert list into set by using set() function all the duplicate values will be removed automatically.
- Print set without duplicate values.

In [65]:
# Take/Create a list of duplicate elements.
t43 = [1,2,2,3,5,1,6,3,3,6]
print(f"Given list of duplicate values : {t43}")

# Convert list into set by using set() function all the duplicate values will be removed automatically.
# Print set without duplicate values.
print(f"Set after removing duplicate values : {set(t43)}")

Given list of duplicate values : [1, 2, 2, 3, 5, 1, 6, 3, 3, 6]
Set after removing duplicate values : {1, 2, 3, 5, 6}

## 44) Check if two sets have the same elements, regardless of their count.

## Ans 44)

1) Set is a data type which is used to store unique collection of data.
2) If we try to store duplicate values in a set, then set will remove duplicate values and will store only unique values.
3) Note: If two sets are equal, we can say they have same elements.

#### Steps:
- Create/take two sets containg elements.
- Using equal comparison opertor (==) check whether two sets are equal or not.
- If both sets are equal, print two sets have same elements else they don't have same elements.

In [1]:
# Create/take two sets containg elements.
s44_1 = {1,2,3,4,5,6,7}
s44_2 = {7,6,1,2,4,3,5}

print(f"Given sets : \nSet 1 : {s44_1}\nSet 2 : {s44_2}")
# Using equal comparison opertor (==) check whether two sets are equal or not.
# If both sets are equal, print two sets have same elements else they don't have same elements.
if s44_1 == s44_2:
    print(f"Both sets have same elements.")
else:
    print(f"Sets don't have same elements.")

Given sets :
Set 1 : {1, 2, 3, 4, 5, 6, 7}
Set 2 : {1, 2, 3, 4, 5, 6, 7}
Both sets have same elements.

## 45) Create a set of the first `n` powers of 2

## Ans 45)

#### Steps:
- Take a value of n from user.
- Create an empty set to store power of 2s.
- Run the loop n times to calculate the n power of 2 and append each value to empty list.
- Print the list

In [66]:
# Take a value of n from user
n = int(input("Enter the value of n : "))

# Create an empty list to store power of 2s.
s45 = set()

# run the loop n times to calculate the n power of 2 and append each value to empty list.
for i in range(n):
    s45.add(2**i)

# print the list
print(f"Set of powers of 2 : {s45}")

Enter the value of n :  5

Set of powers of 2 : {1, 2, 4, 8, 16}

## 46) Find the common elements between a set and a list.

## Ans 46) 

#### Steps:
- Create/take a set and a list.
- Convert list into set.
- Using set's intersection() function find the intersection/common of two sets. 
- Print the common elements.

In [6]:
# Create/take two sets.
s46_1 = {1,2,3,4,5,6}
s46_2 = [2,3,7,4]

print(f"Given\nSet  : {s46_1}\nList  : {s46_2}")
# Using set's intersection() function find the intersection/common of two sets
# If there is no common element in both sets then print "no common element in both sets" else print "there is/are common element(s) in both sets".
print(f"Common elements between set and list : {s46_1.intersection(set(s46_2))}")

Given
Set  : {1, 2, 3, 4, 5, 6}
List  : [2, 3, 7, 4]
Common elements between set and list : {2, 3, 4}

## 47) Create a set of the first `n` triangular numbers.

## Ans 47)

1) Triangular series : 1,3,6,10,15,21,....
2) Formula : Tn = n(n+1)/2

#### Steps:
- Take value of n from the user.
- Create an empty set.
- Generate n triangular numbers set by using formula.
- Add each triangular number to empty set.

In [67]:
n = int(input("Enter value of n : "))

s47 = set()
for i in range(1,n+1):
    Ti = int(i*(i+1)/2)
    s47.add(Ti)
    
print(f"Triangular set of {n} numbers : {s47} ")

Enter value of n :  5

Triangular list of 5 numbers : {1, 3, 6, 10, 15}

## 48) Check if a set contains another set as a subset.

## Ans 48) 

#### Steps:
- Create/take two sets.
- Using set's issubset() function, check whether another set is a subset of main set or not.
- issubset() return True if another set is a subset of main set else return False.

In [7]:
# Create/take two sets.
s48_1 = {1,2,3,4,5}
s48_2 = {3,4}

print(f"Given sets:\nSet 1 : {s48_1}\nSet 2 : {s48_2}")
if s48_2.issubset(s48_1):
    print(f"Set 2 : {s48_2} is a subset of Set 1 : {s48_1}")
else:
    print(f"Set 2 : {s48_2} is not a subset of Set 1 : {s48_1}")

Given sets:
Set 1 : {1, 2, 3, 4, 5}
Set 2 : {3, 4}
Set 2 : {3, 4} is a subset of Set 1 : {1, 2, 3, 4, 5}

## 49) Create a set of alternating 1s and 0s of length `n`.

## Ans 49)

1) Note: We know that a set is a data type which is used to store unique collection of data.
2) For ex- If we create a set of 6 elements with alternative 1s and 0s i.e : {1,0,1,0,1,0} and store it in a variable and print it then it will display a set of only two unique elemenets i.e : {0,1} . Why ?
- - Note: This is because 1 and 0 are repeated many times in set and set ignore/remove all the duplicate values and store only unique once.

- - NOTE: Because of this reason we can't create a set of alternating 1s and 0s of length n. If we try to create it always will create a set of two elements i.e {0,1}.

In [72]:
# Create a set of alternative 1s and 0s of length 6.
s49 = {1,0,1,0,1,0}
s49

{0, 1}

## 50) Merge multiple sets into one.

## Ans 50)

#### Steps:
- Create a set in which you want to merge all other sets.
- Create a list of all sets you want to merge in one set.
- Run the loop to get one set and take union of it with main set and store the update set into main set.
- Print the merges set.

In [76]:
# create a set in which you want to merge all other sets.
s49_1 = {1,2,3,4,5}

print(f"Main set in which all other sets to be merge : {s49_1}")
# create a list of all sets you want to merge in one set.
set_list = [{1,2,3},{6,7,8},{10,2,90}]

print(f"List of sets : {set_list}")
# run the loop to get one set and take union of it with main set and store the update set into main set
for st in set_list:
    s49_1 = s49_1.union(st)
    

# Print the merges set 
print(f"Merges set : {s49_1}")

Main set in which all other sets to be merge : {1, 2, 3, 4, 5}
List of sets : [{1, 2, 3}, {8, 6, 7}, {10, 2, 90}]
Merges set : {1, 2, 3, 4, 5, 6, 7, 8, 10, 90}

##